openapi: 3.0.3
info:
  title: sado1699231030
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://sado-ksa.com'
paths:
  /api/v1/auth/register:
    post:
      summary: ''
      operationId: postApiV1AuthRegister
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                f_name:
                  type: string
                  description: ''
                  example: consequatur
                l_name:
                  type: string
                  description: ''
                  example: nisi
                email:
                  type: string
                  description: ''
                  example: esse
                phone:
                  type: string
                  description: ''
                  example: iusto
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: '""DygUEIcar{d9"EV'
              required:
                - f_name
                - l_name
                - email
                - phone
                - password
      security: []
  /api/v1/auth/login:
    post:
      summary: ''
      operationId: postApiV1AuthLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: dolor
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'b0{I_7>@t`>^AvWO'
                guest_id:
                  type: string
                  description: ''
                  example: eos
              required:
                - email
                - password
                - guest_id
      security: []
  /api/v1/auth/logout:
    get:
      summary: ''
      operationId: getApiV1AuthLogout
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/v1/auth/check-phone:
    post:
      summary: ''
      operationId: postApiV1AuthCheckPhone
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                temporary_token:
                  type: string
                  description: ''
                  example: laboriosam
                phone:
                  type: string
                  description: 'Must be at least 11 characters. Must not be greater than 14 characters.'
                  example: hvvqas
              required:
                - temporary_token
                - phone
      security: []
  /api/v1/auth/resend-otp-check-phone:
    post:
      summary: ''
      operationId: postApiV1AuthResendOtpCheckPhone
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                temporary_token:
                  type: string
                  description: ''
                  example: tempora
                phone:
                  type: string
                  description: 'Must be at least 11 characters. Must not be greater than 14 characters.'
                  example: enzvrnouaibbfw
              required:
                - temporary_token
                - phone
      security: []
  /api/v1/auth/verify-phone:
    post:
      summary: ''
      operationId: postApiV1AuthVerifyPhone
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: ''
                  example: temporibus
                temporary_token:
                  type: string
                  description: ''
                  example: a
                otp:
                  type: string
                  description: ''
                  example: asperiores
              required:
                - phone
                - temporary_token
                - otp
      security: []
  /api/v1/auth/check-email:
    post:
      summary: ''
      operationId: postApiV1AuthCheckEmail
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                temporary_token:
                  type: string
                  description: ''
                  example: nostrum
                email:
                  type: string
                  description: ''
                  example: quibusdam
              required:
                - temporary_token
                - email
      security: []
  /api/v1/auth/resend-otp-check-email:
    post:
      summary: ''
      operationId: postApiV1AuthResendOtpCheckEmail
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                temporary_token:
                  type: string
                  description: ''
                  example: qui
                email:
                  type: string
                  description: ''
                  example: fugiat
              required:
                - temporary_token
                - email
      security: []
  /api/v1/auth/verify-email:
    post:
      summary: ''
      operationId: postApiV1AuthVerifyEmail
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: expedita
                temporary_token:
                  type: string
                  description: ''
                  example: vel
                token:
                  type: string
                  description: ''
                  example: aut
              required:
                - email
                - temporary_token
                - token
      security: []
  /api/v1/auth/forgot-password:
    post:
      summary: ''
      operationId: postApiV1AuthForgotPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identity:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: wuubdttcgkuqecrtrnjhdicen
              required:
                - identity
      security: []
  /api/v1/auth/verify-otp:
    post:
      summary: ''
      operationId: postApiV1AuthVerifyOtp
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identity:
                  type: string
                  description: ''
                  example: tempora
                otp:
                  type: string
                  description: ''
                  example: nihil
              required:
                - identity
                - otp
      security: []
  /api/v1/auth/reset-password:
    put:
      summary: ''
      operationId: putApiV1AuthResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identity:
                  type: string
                  description: ''
                  example: ea
                otp:
                  type: string
                  description: ''
                  example: molestiae
                password:
                  type: string
                  description: 'The value and <code>confirm_password</code> must match. Must be at least 8 characters.'
                  example: Pai8e(
              required:
                - identity
                - otp
                - password
      security: []
  /api/v1/auth/social-login:
    get:
      summary: ''
      operationId: getApiV1AuthSocialLogin
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'wrong credential.'
                properties:
                  error:
                    type: string
                    example: 'wrong credential.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: ''
                  example: debitis
                unique_id:
                  type: string
                  description: ''
                  example: itaque
                medium:
                  type: string
                  description: ''
                  example: google
                  enum:
                    - google
                    - facebook
                    - apple
              required:
                - token
                - unique_id
                - medium
      security: []
  /api/v1/auth/update-phone:
    post:
      summary: ''
      operationId: postApiV1AuthUpdatePhone
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                temporary_token:
                  type: string
                  description: ''
                  example: optio
                phone:
                  type: string
                  description: 'Must be at least 11 characters. Must not be greater than 14 characters.'
                  example: nnzrdxqeq
              required:
                - temporary_token
                - phone
      security: []
  /api/v1/config:
    get:
      summary: ''
      operationId: getApiV1Config
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  brand_setting: '1'
                  digital_product_setting: '1'
                  system_default_currency: 9
                  digital_payment: true
                  cash_on_delivery: true
                  seller_registration: '1'
                  pos_active: '0'
                  company_phone: '+966555437506'
                  company_email: info@sado-ksa.com
                  company_logo: 'https://sado-ksa.com/storage/app/public/company/2023-12-04-656d161d8074e.webp'
                  delivery_country_restriction: 0
                  delivery_zip_code_area_restriction: 0
                  base_urls:
                    product_image_url: 'https://sado-ksa.com/storage/app/public/product'
                    product_thumbnail_url: 'https://sado-ksa.com/storage/app/public/product/thumbnail'
                    digital_product_url: 'https://sado-ksa.com/storage/app/public/product/digital-product'
                    brand_image_url: 'https://sado-ksa.com/storage/app/public/brand'
                    customer_image_url: 'https://sado-ksa.com/storage/app/public/profile'
                    banner_image_url: 'https://sado-ksa.com/storage/app/public/banner'
                    category_image_url: 'https://sado-ksa.com/storage/app/public/category'
                    review_image_url: 'https://sado-ksa.com/storage/app/public'
                    seller_image_url: 'https://sado-ksa.com/storage/app/public/seller'
                    shop_image_url: 'https://sado-ksa.com/storage/app/public/shop'
                    notification_image_url: 'https://sado-ksa.com/storage/app/public/notification'
                    delivery_man_image_url: 'https://sado-ksa.com/storage/app/public/delivery-man'
                  static_urls:
                    contact_us: 'https://sado-ksa.com/contacts'
                    brands: 'https://sado-ksa.com/brands'
                    categories: 'https://sado-ksa.com/categories'
                    customer_account: 'https://sado-ksa.com/user-account'
                  about_us: "<h1><strong>الوصف:</strong><br />\r\nمنصة سدو عبارة عن منصة إلكترونية تقوم بتقديم خدمة تسويق منتجات الاثاث عن الغير وتوفر طرق عرض للمنتجات مبتكرة وتقوم بتسخير التقنية لخدمة عملاء الاثاث .<br />\r\nكذالك تتيح للعميل فرصة دخل إضافيه من خلال التصميم الداخلي وتسويق التصاميم داخل المنصة وخارجها</h1>"
                  privacy_policy: "<p>توضح سياسة الخصوصية هذه الأساس الذي سنقوم بموجبه بالتعامل مع أي بيانات شخصية، بما في ذلك على سبيل المثال لا الحصر، بيانات الدفع، وغيرها من البيانات الأخرى التي نجمعها منك أو من مصادر آخرى أو تلك التي تقدمها إلينا (يُشار إليها بـ&quot;البيانات&quot;) وذلك بغية وصولك واستخدامك لموقع&nbsp;<a href=\"http://www.sado-ksa.com\"><span dir=\"LTR\">www.sado-ksa.com</span></a>&nbsp;و/او تطبيق سدو للهاتف المتحرك (المشار إليها مجتمعة بـ&quot;الموقع&quot;)، والخدمات والتطبيقات (المشار إليها مجتمعة بـ&quot;الخدمات&quot;). إننا ندرك أهمية هذه البيانات، ونحن نلتزم بحماية خصوصيتك واحترامها. يُرجى قراءة ما يلي بعناية لفهم ممارساتنا فيما يتعلق بالبيانات. باستخدامك لخدماتنا فإنك توافق على التعامل مع البيانات بما يتفق مع سياسة الخصوصية هذه<span dir=\"LTR\">.</span></p>\r\n\r\n<p>تعد الإشارات المذكورة بضمير المتكلم (أو ما شابه) في سياسة الخصوصية هذه إشارات إلى شركة سدو وتعد الإشارات &quot;إليك&quot; أو &quot;المستخدم&quot; إشارات إليك كفرد او شخص اعتباري، حسب مقتضى الحال<span dir=\"LTR\">.</span></p>\r\n\r\n<p><strong>ما هي البيانات التي قد نجمعها منك؟</strong></p>\r\n\r\n<p>قد نقوم بجمع ومعالجة البيانات التالية<span dir=\"LTR\">:</span></p>\r\n\r\n<ul>\r\n\t<li>البيانات التي تقدمها عن طريق تعبئة النماذج في الموقع، بما في ذلك البيانات التي تم تقديمها عند التسجيل لاستخدام الموقع و التسجيلات المشتركة الأخرى (على سبيل المثال تسجيلات دخول مواقع التواصل الاجتماعي) أو الاشتراك في خدماتنا أو نشر المواد أو طلب خدمات أخرى<span dir=\"LTR\">.</span></li>\r\n\t<li>البيانات التي تقدمها عند دخول منافسة أو عرض ترويجي عبر موقعنا أو استكمال استطلاع للرأي أو عمليات تصويت أو تقديم مراجعات أو شهادات أو ملاحظات<span dir=\"LTR\">.</span></li>\r\n\t<li>البيانات التي تقدمها لنا، أو التي قد نجمعها منك، عندما تُبلغنا عن اي صعوبة تواجهها عند استخدام موقعنا<span dir=\"LTR\">.</span></li>\r\n\t<li>سجل المراسلات في حال الاتصال بنا<span dir=\"LTR\">.</span></li>\r\n\t<li>بيانات عامة ومُجمعة وديموغرافية وغير شخصية<span dir=\"LTR\">.</span></li>\r\n\t<li>إذا قمت بتحميل أو استخدام تطبيقنا للهاتف المتحرك، فقد نتمكن من الوصول إلى تفاصيل تتعلق بموقعك وموقع هاتفك المتحرك، بما في ذلك المُعرف المُميِّز الخاص بجهازك<span dir=\"LTR\">.</span></li>\r\n\t<li>تفاصيل المعاملات التي قمت بإجرائها عبر موقعنا وتفاصيل قيامنا بتجهيز وتسليم البضائع التي طلبتها<span dir=\"LTR\">.</span></li>\r\n\t<li>تفاصيل حول جهاز الكمبيوتر الخاص بك، بما في ذلك على سبيل المثال، عنوان بروتوكول الإنترنت<span dir=\"LTR\">IP </span>الخاص بك ونظام التشغيل ونوع المتصفح، بالإضافة إلى البيانات المتعلقة باستخدامك العام لشبكة الإنترنت (على سبيل المثال: عن طريق استخدام تقنية تُخزن البيانات على جهازك أو الوصول إليه، مثل ملفات تعريف الارتباط وكود تتبع التحويلات وإشارات الويب وما إلى ذلك (المشار إليها مجتمعة بـ&quot;ملفات تعريف الارتباط&quot;))<span dir=\"LTR\">.</span></li>\r\n\t<li>عنوان بريدك الالكتروني و/أو رقم الهاتف المتحرك الذي تم تزويدنا به من قبل الغير الذين اكدوا لنا استحصالهم على موافقتك على مشاركة عنوان بريدك الالكتروني<span dir=\"LTR\">.</span></li>\r\n\t<li>أي بيانات أخرى نعتبرها ضرورية لتعزيز تجربتك في استخدام الموقع<span dir=\"LTR\">.</span></li>\r\n</ul>\r\n\r\n<p><strong>كيف سنستخدم البيانات الخاصة بك؟</strong></p>\r\n\r\n<p>قد نستخدم البيانات في الحالات التالية<span dir=\"LTR\">:</span></p>\r\n\r\n<ul>\r\n\t<li>لتزويدك بالمعلومات أو المنتجات أو الخدمات التي تطلبها منا أو نرى أنك قد تكون مهتماً بها، وحيث قمت بالموافقة على أن يتم الاتصال بك لمثل هذه الأغراض<span dir=\"LTR\">.</span></li>\r\n\t<li>لتزويدك بالخدمات المعتمدة على المكان الذي توجد فيه، مثل الإعلان ونتائج البحث ومحتويات آخرى مخصصة لك<span dir=\"LTR\">.</span></li>\r\n\t<li>لتنفيذ الالتزامات الناجمة عن أي عقود مبرمة بينك وبين أي جهة اخرى تستخدم موقعنا، أو بينك وبيننا<span dir=\"LTR\">.</span></li>\r\n\t<li>لتحسين خدماتنا ولتقديم خدمات أفضل ومخصصة بدرجة أكبر<span dir=\"LTR\">.</span></li>\r\n\t<li>لضمان تقديم محتوى موقعنا بأكثر الطرق فاعلية لك وللجهاز الذي تستخدمه للوصول إلى موقعنا<span dir=\"LTR\">.</span></li>\r\n\t<li>لإخطارك بالتغييرات التي يجريها موقعنا<span dir=\"LTR\">.</span></li>\r\n\t<li>لأي سبب آخر نراه ضرورياً لتعزيز تجربة تصفحك للموقع<span dir=\"LTR\">.</span></li>\r\n\t<li>لادارة البرامج التحفيزية وتلبية طلباتك للحصول على هذه الحوافز، و/او للسماح لك بالمشاركة بالمسابقات واخطارك في حالة الفوز<span dir=\"LTR\">.</span></li>\r\n</ul>\r\n\r\n<p><strong>إلى من يمكننا الإفصاح عن البيانات؟</strong></p>\r\n\r\n<p>تُعد البيانات الخاصة بعملائنا جزءاً مهماً جداً من عملنا. وبالتالي فإننا لا نشارك البيانات إلا حسبما هو مذكور أدناه فقط ومع الشركات التي تتبع الممارسات التي لها مزايا حماية، وبحد ادنى، مماثلة لمزايا تلك الممارسات الواردة في سياسة الخصوصية<span dir=\"LTR\">:</span></p>\r\n\r\n<ul>\r\n\t<li><strong>اطراف آخرين</strong><strong><span dir=\"LTR\">.</span></strong>&nbsp;لتوفير خدماتنا، قد نتعاون مع شركات اخرى تابعة لنا او مزودي خدمة غير تابعين لنا (على سبيل المثال: الشركات اللوجستية المُستخدمة لتوصيل المنتجات إليك، شركات التسويق، معالجة الدفعات لإجراء معاملات عبر الإنترنت وغير ذلك). من الممكن ان تقوم هذه الشركات الأخرى في سبيل تنفيذ معاملاتك ، بتخزين البيانات في محفظة رقمية حتى يكون استخدامك لخدماتنا اكثر فعالية<span dir=\"LTR\">.</span></li>\r\n</ul>\r\n\r\n<p>أنت تدرك مدى أهمية وصول هذه الشركات إلى البيانات ذات الصلة لأداء مهامها. ونحرص على ألا تستخدم هذه الشركات البيانات في أغراض أخرى. وقد نتلقى أيضاً بيانات من هذه الشركات (على سبيل المثال: بيانات التسليم والعناوين المحدثة)، بغرض استخدامها (على سبيل المثال: لتصحيح سجلاتنا وتوصيل بضائع تخص اية عملية شراء تقوم بها). من خلال استخدامك للموقع، فإنك توافق على نقل، تخزين، استخدام، والافصاح عن البيانات بين الشركات التابعة لنا ومزودي خدمة غير تابعين لنا اينما كان موقعها الجغرافي. على ان تلتزم هذه الشركات تعاقديا بإحترام خصوصية البيانات<span dir=\"LTR\">.</span></p>\r\n\r\n<ul>\r\n\t<li><strong>التسويق والعروض الترويجية</strong><strong><span dir=\"LTR\">.</span></strong>&nbsp;قد نستخدم أيضاً البيانات لتزويدك بمعلومات عن السلع والخدمات التي قد تكون مهتماً بها فضلاً عن تعزيز تجربتك في تصفح واستعمال الموقع، ورسائل الخدمة، والمزايا الجديدة والتحسينات والعروض الخاصة والفعاليات ذات الأهمية. يُمكننا التواصل معك عبر قنوات مختلفة، بما في ذلك على سبيل المثال لا الحصر رسائل البريد الإلكتروني وإشعارات الويب والمنشورات والهاتف ورسائل التطبيق ورسائل الواتساب وبطاقات نقل مقالات الأخبار<span dir=\"LTR\">.</span></li>\r\n</ul>\r\n\r\n<p>قد نسمح لطرف ثالث باستخدام البيانات، على سبيل المثال: ربما نقدم البيانات إلى المعلنين لمساعدتهم في الوصول إلى الجمهور المستهدف لتمكيننا من الامتثال لالتزاماتنا أمام المعلنين (أي: عن طريق عرض إعلاناتهم على الجمهور المستهدف)<span dir=\"LTR\">.</span></p>\r\n\r\n<p>وبالإضافة إلى ذلك، للمشاركة في بعض المنافسات والعروض الترويجية الخاصة بنا، قد يُطلب منك تقديم بيانات إضافية. على سبيل المثال: إذا فزت في إحدى المنافسات فقد يُطلب منك تقديم المزيد من البيانات الشخصية لتأكيد أهليتك وتقديم الجائزة إليك. وتُجرى عملية جمع هذه البيانات بواسطتنا أو بواسطة الرعاة المشاركين أو البائعين للعروض الترويجية. يُرجى ملاحظة أنه ينبغي لك مراجعة سياسات الخصوصية المتعلقة بهذا الطرف الثالث لمعرفة كيفية استخدامه لأي بيانات يعمل على جمعها<span dir=\"LTR\">.</span></p>\r\n\r\n<ul>\r\n\t<li><strong>تحويلات الأعمال</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;في حالة الاستحواذ على شركتنا أو جميع أصولنا فعلياً، ستكون بيانات العميل أحد الأصول التي يتم تحويلها للمالك الجديد<span dir=\"LTR\">.</span></li>\r\n\t<li><strong>حماية موقعنا والمواقع الأخرى</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;نفصح عن حساب العميل وبياناته الشخصية الأخرى عندما نرى أن هذا الإفصاح مناسب للامتثال للقوانين والتحقيقات التي تتم لإنفاذ القوانين ولحماية الحقوق أو الممتلكات أو سلامة مستخدمينا أو الآخرين. ويتضمن هذا تبادل البيانات مع الشركات والمؤسسات الأخرى لعدة أسباب، منها الحماية من جرائم الاحتيال والحد من مخاطر الائتمان<span dir=\"LTR\">.</span></li>\r\n</ul>\r\n\r\n<p>ويُرجى ملاحظة أن موقعنا قد يحتوي -من حين لآخر- على روابط من وإلى مواقع خاصة بشبكات الشركات التي نتعامل معها والمعلنين والشركات التابعة لنا، وفي حالة الدخول في رابطاً من أحد هذه الروابط يُرجى العلم بأن هذه المواقع تمتلك سياسات خصوصية الخاصة بها، وأننا لن نتحمل أي مسؤولية أو مطالبة عن هذه السياسات. كما يُرجى التحقق من سياسات تلك المواقع قبل تقديم أي بيانات شخصية أو أي معلومات أخرى إليها<span dir=\"LTR\">.</span></p>\r\n\r\n<p><strong>كيف نُخزن البيانات الخاصة بك؟</strong></p>\r\n\r\n<p>البيانات التي نقوم بجمعها منك قد ننقلها أو نخزنها في موقع خارج المملكة العربية السعودية. كما يمكن أن تتم معالجتها بواسطة فريق عمل يعمل خارج المملكة العربية السعودية. إلا أن فريق العمل هذا -إلى جانب المهام الأخرى- في تلبية طلبك ومعالجة تفاصيل الدفعات وتوفير خدمات الدعم<span dir=\"LTR\">.</span></p>\r\n\r\n<p>سوف نقوم بتخزين البيانات طالما كان ذلك ضرورياً وفقاً لسياسة الخصوصية هذه او اذا ما كان ذلك مطلوباً للالتزام بأي قانون. من الممكن ان يتم نقل، تخزين، معالجة، واستعمال البيانات من قبل شركات تابعة لنا او مزودي خدمة غير تابعين لنا. كما وانه من الممكن نقل وتخزين بيانات الدفع الخاصة بك من قبل شركات تابعة لنا لمعالجة الدفعات وتوفير خدمات الدعم الفني<span dir=\"LTR\">.</span></p>\r\n\r\n<p><strong>ما هي معايير الحماية التي نطبقها؟</strong></p>\r\n\r\n<p>إننا نتخذ الخطوات اللازمة من الناحية التقنية، التجارية، الفنية، والادارية لضمان التعامل مع البيانات بأمان وبما يتماشى مع سياسة الخصوصية هذه، وذلك لحماية البيانات من الوصول اليها بشكل غير مصرح به، او تغييرها، او الافصاح عنها او اتلافها. ومن الممكن أن نستخدم -على سبيل المثال- تقنية إلكترونية مشفرة لحماية البيانات أثناء إرسالها إلى موقعنا، بالإضافة إلى جدار حماية إلكتروني خارجي، وتقنية جدار حماية إلكتروني على الكمبيوتر المضيف لموقعنا حتى نتمكن من صد الهجمات الضارة على الشبكة. سوف يتم السماح فقط للموظفين ومزودي الخدمات والوكلاء الذين يكون عليهم معرفة البيانات بالوصول اليها بغية تنفيذ عملهم<span dir=\"LTR\">.</span></p>\r\n\r\n<p>ومن المهم بالنسبة لك التأكد من حماية كلمة المرور الخاصة بك والجهاز الذي تستخدمه للوصول إلى موقعنا لتفادي اي وصول غير مصرح به من الغير. وتتحمل أنت وحدك مسؤولية الحفاظ على كلمة المرور الخاصة بك في سرية تامة، على سبيل المثال، تأكد من تسجيل الخروج بعد الانتهاء من استخدام أحد الاجهزة ذات الاستخدام المشترك<span dir=\"LTR\">.</span></p>\r\n\r\n<p>وللأسف، فإن إرسال البيانات عبر الإنترنت غير آمن تماماً. وعلى الرغم من ذلك، سنبذل قصارى جهدنا لحماية البيانات، إلا أننا لا نضمن حماية البيانات المرسلة إلى موقعنا، وتتحمل أنت وحدك تبعات مخاطر إرسال أي بيانات<span dir=\"LTR\">.</span></p>\r\n\r\n<p><strong>كيف يمكنك الوصول إلى البيانات وتعديلها؟</strong></p>\r\n\r\n<p>يمكنك الوصول إلى مجموعة كبيرة من البيانات الخاصة بحسابك وتعاملاتك مع الموقع بغرض عرض البيانات، وتحديثها في بعض الحالات<span dir=\"LTR\">.</span></p>\r\n\r\n<p>أمثلة البيانات التي يمكنك الوصول إليها بسهولة على الموقع<span dir=\"LTR\">:</span></p>\r\n\r\n<ul>\r\n\t<li>بيانات محدثة فيما يتعلق بأحدث طلبات الشراء التي قمت بها<span dir=\"LTR\">.</span></li>\r\n\t<li>بيانات التعريف الشخصي (بما في ذلك، الاسم والبريد الإلكتروني وكلمة المرور والمراسلات وتفضيلات الإعلانات الشخصية)<span dir=\"LTR\">.</span></li>\r\n\t<li>إعدادات الدفع (بما في ذلك معلومات بطاقة الائتمان)<span dir=\"LTR\">.</span></li>\r\n\t<li>إعدادات إشعارات البريد الإلكتروني<span dir=\"LTR\">.</span></li>\r\n</ul>\r\n\r\n<p>يمكنك رفض تلقي رسائلنا التسويقية في المستقبل في أي وقت عن طريق ضبط تفضيلات مراسلات العميل الخاصة بك، من خلال رابط إلغاء الاشتراك الموجود في مراسلات البريد الإلكتروني. للتسوق من خلال تطبيق الهاتف المتحرك ستحتاج إلى ضبط إعدادات الإشعارات في القسم العام في هاتفك المتحرك<span dir=\"LTR\">.</span></p>\r\n\r\n<p>بالإضافة إلى ذلك، سيضع النظام الخاص بنا ملفات تعريف الارتباط عند تسجيل الدخول إلى الموقع وهذا لضمان تجربة ممتعة وسلسة للمستخدم عبر الموقع. يمكنك إلغاء تفعيل ملفات تعريف الارتباط عن طريق تغيير إعدادات المتصفح. وفي حال إلغاء التفعيل لملفات تعريف الارتباط، سيؤثر ذلك على كيفية عمل موقعنا وربما لن تكون قادراً على الوصول إلى أو استخدام بعض أو جميع الوظائف في الموقع. على سبيل المثال: تجمع ملفات تعريف الارتباط الخاصة بالأداء معلومات حول كيفية استخدامك للموقع &ndash;أي: الصفحات التي تزورها في معظم الأوقات- مما يسمح لنا بتزويدك بالخيارات المستهدفة وذات الصلة التي تعزز تجربة تصفحك واستخدامك للموقع<span dir=\"LTR\">.</span></p>\r\n\r\n<p>يجوز أن نحتفظ بنسخة من البيانات لأغراض الامتثال للقوانين، وبالذات عند تحديثك للمعلومات حيث نحتفظ بنسخة من البيانات السابقة للحفظ في سجلاتنا<span dir=\"LTR\">.</span></p>\r\n\r\n<p><strong>ماذا لو غيرنا سياسة الخصوصية الخاصة بنا؟</strong></p>\r\n\r\n<p>يتعرض عملنا لتغييرات بصفة مستمرة، لذا قد تتأثر سياسة الخصوصية الخاصة بنا وتحتاج إلى تغيير موازٍ. سوف نقوم بنشر النسخة الحالية لسياسة الخصوصية هذه على الموقع وستظل سارية المفعول منذ نشرها على الموقع أو بناءً على الموعد الذي نحدده من جانبنا كـتاريخ لسريانها<span dir=\"LTR\">.</span></p>\r\n\r\n<p>قد نقوم بإرسال رسائل تذكيرية بصفة دورية عبر البريد الإلكتروني بإخطاراتنا وشروطنا، ولكن ينبغي لك التحقق بزيارتك المتكررة لموقعنا للاطلاع على أحدث التغييرات<span dir=\"LTR\">.</span></p>\r\n\r\n<p>يجب عليك التحقق من سياسة الخصوصية بصورة منتظمة. فإن استمرارك في استخدام الموقع بعد أي تغييرات يُعد موافقة منك على سياسة الخصوصية هذه بصيغتها المعدلة<span dir=\"LTR\">.</span></p>\r\n\r\n<p><strong>كيف يمكنك الاتصال بنا؟</strong></p>\r\n\r\n<p>إذا كان لديك أي استفسارات تتعلق بالبيانات الخاصة بك على الموقع يُرجى الاتصال بنا&nbsp;<span dir=\"LTR\">info@sado-ksa.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>\r\n\r\n<p><span dir=\"LTR\">&nbsp;&nbsp;&nbsp; </span>وإطلاعنا على الوصف الدقيق لاستفساراتك، وسوف نقوم بالرد عليها و معالجتها<span dir=\"LTR\">.</span></p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p>&nbsp;</p>"
                  faq:
                    -
                      id: 1
                      question: 'How to delete the account'
                      answer: 'Login => Choose from the menu the option More and then Profile You will find there the option Delete account'
                      ranking: 1
                      status: 1
                      created_at: '2023-12-21T19:11:55.000000Z'
                      updated_at: '2023-12-26T02:16:08.000000Z'
                  'terms_&_conditions': "<p><strong>مرحباً بك في منصة سدو&nbsp;</strong></p>\r\n\r\n<p><a href=\"http://www.sado-ksa.com\"><span dir=\"LTR\">www.sado-ksa.com</span></a>&nbsp;الإلكتروني (&quot;الموقع&quot;)<span dir=\"LTR\">.</span></p>\r\n\r\n<p>تنص شروط الاستخدام هذه وجميع السياسات والشروط الإضافية (في حال تطبيقها) الموجودة على الموقع على الشروط التي نقدمها لك للدخول الى واستخدام الموقع والخدمات والتطبيقات، بما في ذلك تطبيق الهاتف الجوال الخاصة بنا (ويُشار إليها مجتمعة بـ&quot;الخدمات&quot;). يمكنك معرفة جميع السياسات والشروط الإضافية من هنا&nbsp;<a href=\"http://www.sado-ksa.com\"><span dir=\"LTR\">www.sado-ksa.com</span></a>&nbsp;(&quot;الوثائق القانونية&quot;). تُدرج تلك الوثائق القانونية بالإشارة إليها في شروط الاستخدام الماثلة<span dir=\"LTR\">.</span></p>\r\n\r\n<p>حال وصولك و/ أو تسجيلك و/ أو استمرارك في استخدام الخدمات أو الوصول إليها، فأنت توافق على الالتزام بشروط الاستخدام هذه والوثائق القانونية بأثر فوري<span dir=\"LTR\">.</span></p>\r\n\r\n<p>ان شروط الاستخدام هذه والوثائق القانونية خاضعة للتعديل من قبلنا في اي وقت. إن استمرار استخدامك للموقع بعد نشر أي تغيير يعني موافقتك على شروط الاستخدام هذه والوثائق القانونية التي تم تعديلها<span dir=\"LTR\">.</span></p>\r\n\r\n<p><strong>نُبذة عن الموقع</strong></p>\r\n\r\n<p>يعد هذا الموقع منصة للتجارة الإلكترونية التي تتيح للمستخدمين من المؤسسات التجارية عرض وبيع المنتجات، كما يتيح للشركات والأفراد شراء مجموعة متنوعة من المنتجات<span dir=\"LTR\">.</span></p>\r\n\r\n<p>نحتفظ بحق تقديم خدمات جديدة وتحديث أي من الخدمات أو سحبها، وفقاً لتقديرنا الخاص دون اية مسؤولية<span dir=\"LTR\">.</span></p>\r\n\r\n<ol>\r\n\t<li><strong>شروط التسجيل</strong>\r\n\r\n\t<ol>\r\n\t\t<li>يحق لك التسجيل كمشترٍ أو بائع والاستفادة من الخدمات إذا توفرت لديك معايير الاهلية التالية<span dir=\"LTR\">:</span>\r\n\r\n\t\t<ol>\r\n\t\t\t<li>للمشترين<span dir=\"LTR\">:</span>\r\n\r\n\t\t\t<ol>\r\n\t\t\t\t<li>أن تكون بالغاً السن القانونية لتتمكن من شراء المنتجات في بلد إقامتك<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أن تكون قادراً على تقديم عنوان في الإمارات العربية المتحدة أو في المملكة العربية السعودية لتسليم المنتجات<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t\t<li>للبائعين<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>أن يكون لديك شركة تجارية مسجلة وفقاً لقوانين الدولة الخاصة بك<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أن يكون لديك ترخيص تجاري سارٍ<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أن يمكنك تقديم ما يثبت تفويض الأفراد الذين يقومون بالتسجيل في الموقع أو باستخدامه<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>تقديم إثبات الهوية للشخص المفوض<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>تقديم بيانات مصرفية داعمة<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>تقر وتوافق على أنه قد تنطبق بعض المتطلبات الإضافية لبعض الفئات من المنتجات<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>للتسجيل على الموقع، سنحتاج إلى تقديم بعض المعلومات، ولن يتم قبول تسجيلك في الموقع إذا لم يتم تقديم المعلومات اللازمة لنا. لدينا الحق في رفض أي من عمليات التسجيل دون إبداء الأسباب. كما يحق لنا أيضاً القيام بعمليات التحقق اللازمة للتأكد من هويتك ومتطلبات التسجيل<span dir=\"LTR\">.</span></li>\r\n\t\t<li>وبمجرد الانتهاء من التسجيل بنجاح، يستمر التسجيل الخاص بك لفترة غير محددة خاضعاً لاحتمال تعليقه أو إلغائه وفقاً للبند رقم 6 من شروط الاستخدام هذه<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>الالتزامات الخاصة بك</strong>\r\n\t<ol>\r\n\t\t<li>عند استخدامك للخدمات أو وصولك إليها، فأنت توافق على ما يلي<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>مسؤوليتك عن الحفاظ على الخصوصية وتقييد الوصول إلى الحساب الخاص بك واستخدامه هو وكلمة المرور، والموافقة على تحمل مسؤولية جميع الأنشطة التي تتم باسم الحساب الخاص بك وكلمة المرور الخاصة بك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الموافقة على إخطارنا فورا عن أي استخدام غير مصرح به لكلمة المرور أو الحساب الخاص بك أو أي خرقٍ آخر لمعايير الاستخدام الآمن للموقع<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>تقديم المعلومات الكاملة والحقيقية والدقيقة والحالية عن نفسك وعن استخدامك للخدمات كما هو محدد من قبلنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>عدم الإفصاح للغير (باستثناء ما يلزم أو ما هو محدد من قبلنا) عن معلومات المستخدم المقدمة لك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التعاون مع الطلبات الصادرة عنا للحصول على معلومات إضافية فيما يتعلق بأهليتكك واستخدامك لخدماتنا<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>عند استخدامك للخدمات أو وصولك إليها، فأنت توافق على أنك لن تقوم بما يلي<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>نشر أو إدراج أو تحميل أي من المحتويات أو المواد غير المناسبة أو المحظورة في موقعنا، بما في ذلك<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>المحتوى أو المواد غير الملائمة أخلاقياً أو دينياً بأي شكلٍ من الأشكال<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المحتوى أو المواد التي لا تتوافق مع القانون المحلي والشريعة الإسلامية والقواعد والأخلاق والقيم والآداب والتقاليد<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المحتوى أو المواد التي قد تُهدد الأمن القومي<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المحتوى أو المواد التي قد تروج أو تندرج في إطار المقامرة<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>الأوراق المالية، بما في ذلك الأسهم أو السندات أو الصكوك أو أي من الأوراق المالية الأخرى أو أي من الأصول<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المخلوقات الحية أو النافقة و/ أو أي جزء من أي حيوان تم الاحتفاظ به أو الحفاظ عليه بأي من الوسائل الصناعية أو الطبيعية<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أي من الأسلحة<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>الخمر ومنتجات التبغ والمخدرات والمواد المؤثرة على العقل والمواد المنومة والمسكرات بأي من أنواعها والأدوية الطبية<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>حسب علمك، المواد التي تكون معيبة أو زائفة أو تالفة أو مضللة أو قد تسبب ضررا عند استخدامها بشكلٍ طبيعي لمصلحة مستخدم آخر للموقع أو لصحته<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>قسائم غير قابلة للتحويل<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المواد الكيميائية<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t\t<li>نشر المواد التي لا يحق لك مشاركة الرابط الخاص بها أو إدراجها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نشر المواد المزيفة أو المسروقة<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>خرق القانون أو التحايل عليه، أو خرق أي من حقوق الغير أو الأنظمة الخاصة بنا أو السياسات أو خرق القرارات المتعلقة بحالة الحساب الخاص بك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>استخدام الخدمات إذا لم تعد تستوفي معايير أهلية الاستخدام أو كنتَ غير قادر على إبرام عقود ملزمة قانونياً أو تم ايقاف حسابك بشكلٍ مؤقت أو لأجلٍ غير مسمى<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>عدم تسديدك ثمن المنتجات التي قمت بشرائها، إلا إذا كان هناك سبب قانوني يؤيد ذلك في أي من السياسات الخاصة بنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>عدم تسليم العملاء المنتجات التي قمت ببيعها (إذا انطبق ذلك)، إلا إذا كان هناك سبب قانوني يؤيد موقفك ومذكور في أي من السياسات الخاصة بنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>استخدام معلومات الاتصال المقدمة لك أثناء عقد الصفقة عبر الموقع لمحاولة زيادة مبيعاتك خارج حدود الموقع أو عبر مواقع أخرى<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التلاعب في سعر أي من المنتجات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التدخل في القوائم الخاصة بالمستخدمين الآخرين<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>اتخاذ أي إجراء من شأنه أن يقلل من تقييم الموقع وأنظمة التصنيف<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نشر المحتوى الخاطئ أو غير الدقيق أو المضلل أو المخادع أو التشهيري أو ما شابه<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نقل الحساب الخاص بك إلى طرف آخر دون الحصول على موافقة خطية مسبقة من قبلنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نشر الرسائل أو المراسلات الإلكترونية غير المرغوب فيها أو ما شابه ذلك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نشر الفيروسات أو أيٍّ من التقنيات الآخرى التي قد تضر بخدماتنا أو بمصالح المستخدمين الآخرين أو أملاكهم<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>خرق<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>القوانين الخاصة بحقوق النشر، العلامة التجارية، براءة الاختراع، الأخلاق، الإعلان، قاعدة البيانات، و/ أو أي من حقوق الملكية الفكرية (ويُشار إليها مجتمعة بـ&nbsp;<strong><span dir=\"LTR\">&quot;</span></strong><strong>حقوق الملكية الفكرية</strong><strong><span dir=\"LTR\">&quot;</span></strong><span dir=\"LTR\">) </span>التي تتعلق بنا أو المرخصة لنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أي من حقوق الملكية الفكرية التي تتعلق بالغير<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t\t<li>جمع المعلومات الخاصة بالمستخدمين دون الحصول على موافقتهم<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أو التحايل على أي من الإجراءات التقنية التي نتبعها لتقديم الخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>خدمة الاستبدال</strong>\r\n\t<ol>\r\n\t\t<li>تقدّم سدو خدمة الاستبدال بالتعاون مع أي طرف ثالث، حيث يمكنك استبدال جهازك الحالي المؤهل (&quot;جهاز الاستبدال&quot;) عند شراء جوال جديد (&quot;خدمة الاستبدال&quot;). وبالتالي، سيقدّم لك شريك الاستبدال قيمة تقديرية لجهازك الحالي للاستبدال (&quot;قيمة الاستبدال&quot;). سيتم إضافة قيمة الاستبدال إلى حسابك المسجل كرصيد في سدو. حيث يمكنك تحويل رصيدك في سدو لحسابك المصرفي. تتوفر خدمة الاستبدال هذه على ماركات وأجهزة مُختارة والتي يتم شراؤها عبر موقع سدو على <span dir=\"LTR\"><a href=\"http://www.sado-ksa.com\">www.sado-ksa.com</a></span>أو تطبيق سدو عبر خيار الاستبدال<span dir=\"LTR\">.</span></li>\r\n\t\t<li>تخضع خدمة الاستبدال للشروط التالية الموضحة&nbsp;<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>حقوق الملكية الفكرية</strong>\r\n\t<ol>\r\n\t\t<li>باستثناء الحقوق التي تم منحها صراحة وفقاً لشروط الاستخدام هذه<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>جميع المحتويات الواردة في الموقع تدخل في إطار ملكيتنا الخاصة أو ضمن الملكية الخاصة بمرخصينا، بما في ذلك على سبيل المثال لا الحصر النصوص والرسوم البيانية والشعارات والصور والمقاطع الصوتية والتنزيلات الرقمية والبرمجيات. فنحن (أو المرخصون لنا، وفقاً لما تقتضيه الحالة) نحتفظ بجميع حقوقنا، وملكيتنا ومصلحتنا بالموقع والخدمات -وذلك على سبيل المثال لا الحصر- بجميع حقوق الملكية الفكرية الواردة ضمن شروط الاستخدام هذه<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>وأيضاً جميع الحقوق والملكيات والمصالح لأي من المعلومات أو المواد أو المحتويات الأخرى التي تقدمها أنت من خلال استخدامك للخدمات بالإضافة الى جميع حقوق الملكية الفكرية الخاصة بك والواردة ضمن شروط الاستخدام هذه ستصبح ملكاً لنا<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>توافق على أنه لا يحق لك استخدام العلامات التجارية الخاصة بنا دون وجود موافقة خطية مسبقة<span dir=\"LTR\">.</span></li>\r\n\t\t<li>إن جميع الحقوق غير المخولة لك بشكلٍ واضح في شروط الاستخدام الماثلة يتم الاحتفاظ بها لنا أو للمرخصين لنا<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>الضمانات والتعهدات والإقرارات</strong>\r\n\t<ol>\r\n\t\t<li>تضمن وتتعهد وتقر بما يلي<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>الامتثال التام للاستمرار بالعمل وفقاً للقوانين والأنظمة واللوائح المطبقة، بما في ذلك على سبيل المثال لا الحصر الالتزام بالتشريعات المتعلقة بقوانين الخصوصية وتنظيم المحتوى<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>لديك السلطة الكاملة للتعاقد وفقاً لشروط الاستخدام الماثلة، وأن تنفيذك التزامك بموجب شروط الاستخدام هذه لا يتعارض مع<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>أي من القوانين أو القواعد أو اللوائح أو الإرشادات الحكومية التي تخضع لها<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أي من الاتفاقيات الأخرى التي كنت طرفاً فيها أو التي عليك الالتزام بها<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t\t<li>إذا قمت بإنشاء حساب أو استخدامه بالنيابة عن شركة فأنت بذلك مخول بالتصرف نيابة عن هذه الشركة وتضمن التزامها بالعمل بشروط الاستخدام الماثلة. ويُعد هذا الحساب ملكاً لهذه الشركة وتحت إدارتها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أنك مالك أو مخول بمنح الحقوق والتراخيص التي منحتنا إياها وفق شروط الاستخدام هذه<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أي محتوى قمت بتقديمه كجزء من استخدامك للخدمات ولأي من المنتجات التي تقوم بإدراجها، لا ينتهك حقوق الغير في أي مكان حول العالم، على سبيل المثال لا الحصر أي من حقوق الملكية الفكرية (سواء كانت مسجلة أم لا)<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>وفقاً للبند <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-1</span>، فإن الخدمات تُقدم إليك على &quot;حالتها الحالية&quot; دون ضمانات أو تعهدات أو إقرارات. فنحن نخلي مسؤوليتنا عن جميع الضمانات أو التعهدات أو الإقرارات بجميع أشكالها، سواء الصريحة أو الضمنية أو الإضافية، على سبيل المثال لا الحصر جميع الضمانات أو التعهدات أو الإقرارات الخاصة بصلاحية المحتوى للأغراض التجارية أو ملاءمته لغرض محدد أو عام أو عدم مخالفته أو خرقه لأي حقوق أو كون خدماتنا آمنة أو خالية من العيوب أو سوف تعمل دون وجود أي عطل أو سيتم تقديمها في الوقت المناسب أو على العموم<span dir=\"LTR\">.</span></li>\r\n\t\t<li>وعلاوة على ذلك، فعلى الرغم من أننا نحاول أن نتوخى الدقة قدر المستطاع، فإننا لا نضمن أن تكون مواصفات المنتج أو أي محتوى آخر لأي خدمة دقيقاً أو كاملاً أو موثوقاً به أو حديثاً أو خالياً من الأخطاء. بالإضافة إلى ذلك -وبناءً على كونك مشترياً- فأنت توافق على أننا غير مسؤولين عن فحص أو اختبار القوائم أو محتوى الخدمات المقدمة من قبلنا أو من قبل الغير، وأنك لن تحاول أن تضع على عاتقنا مسؤولية أي من الأخطاء او العيوب في اي من القوائم. وبناءً على كونك بائعاً فإنك مسؤول عن مراجعة دقة المحتوى الوارد ضمن القوائم الخاصة بك وأنك لن تحاول أن تضع على عاتقنا أو على عاتق مقدمي المحتوى/ الكتيب مسؤولية وجود أخطاء أو عدم الدقة<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>المسؤولية والتعويضات</strong>\r\n\t<ol>\r\n\t\t<li>لا يوجد في شروط الاستخدام هذه ما من شأنه أن يحد أو يعف مسؤولية أي من الأطراف عن<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>الاحتيال، بما في ذلك التدليس، الذي يقوم به هذا الطرف<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الوفاة أو الإصابة الشخصية نتيجة لإهمال هذا الطرف<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أي من المسؤوليات الأخرى التي لا يمكن حدها أو الإعفاء منها وفقاً للقانون المعمول به<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>وفقاً للبند <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-1</span>، ففي جميع الأحوال لن نتحمل نحن وشركتنا الأم وشركاتنا الفرعية والشركات التابعة ومديرونا ومديروهم والمسؤولون والوكلاء والموظفون والموردون والمقاولون من الباطن أو المرخصين -سواء بناءً على دعوى أو مطالبة في العقد أو ضرر أو إهمال أو خرق واجب قانوني أو خرق لشروط الاستخدام هذه- مسؤوليةَ أي دعوى خاصة بخسارة الأرباح أو فقد البيانات أو المعلومات أو عطل في العمل أو أي خسارة مالية أو أي أضرار خاصة أو غير مباشرة أو عرضية حتى وإن تم إخطارنا نحن أو الشركات التابعة أو المديرين أو المسؤولين أو الوكلاء أو الموظفين أو المرخصين أو الموردين أو المقاولين من الباطن باحتمال وجود مثل هذه الأضرار<span dir=\"LTR\">.</span></li>\r\n\t\t<li>بالإضافة إلى الحد الذي يسمح به القانون المعمول به، فنحن (بما في ذلك، الشركة الأم أو الشركات الفرعية أو الشركات التابعة أو المديرون أو المسؤولون أو الوكلاء أو الموظفون أو الموردون أو المقاولون من الباطن أو المرخصين) لن نتحمل المسؤولية، كما أنك تقر بأنك لن تضع على عاتقنا مسؤولية حدوث أي ضرر أو فقدان ناتجة بشكلٍ مباشر أو غير مباشر عن<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>المحتوى أو المعلومات الأخرى التي تقدمها عند استخدامك للخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>استخدامك للخدمات أو عدم قدرتك على استخدامها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التسعير أو الشحن أو التنسيق أو أيٍّ من الإرشادات المقدمة من قبلنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التأخر أو الانقطاع في تقديم الخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الفيروسات أو غيرها من البرامج الضارة التي وجدت من خلال الوصول إلى الخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>وجود أخطاء في الخدمات أو أعطال أو عدم دقة بأي شكل من الأشكال<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>تلف الجهاز الخاص بك من خلال استخدام المنتجات التي تم بيعها على الموقع أو من خلال خدماتنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>المحتوى أو أفعال أو امتناع عن فعل الغير المستخدمين لخدماتنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التعليق أو أي اجراءات أخرى نتخذها متعلقة باستخدامك للخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الفترة الزمنية التي تظهر فيها القوائم الخاصة بك في نتائج البحث أو طريقة ظهورها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>حاجتك إلى تعديل الممارسات أو المحتوى أو السلوك أو خسارتك أو عدم قدرتك على القيام بالأعمال التجارية نتيجة لوجود تغيرات في شروط الاستخدام هذه<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>ووفقاً للبند <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-1</span>، إذا ثبت أن البند <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-2 </span>أو <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-3 </span>غير قابل للتنفيذ أو التطبيق لأي سبب من الأسباب، ، تقتصر التزاماتنا الكلية بما في ذلك التزام الشركة الأم أو الشركات الفرعية أو التابعة لنا ومديريها أو مسؤوليها أو وكلائها أو موظفيها أو مورديها أو مقاوليها من الباطن أو المرخصين تجاهك سواء كان ذلك نتيجة لأي دعوى أو مطالبة في العقد أو إهمال أو خرق لأي واجب قانوني أو بخلاف ذلك ناتجة عن شروط الاستخدام هذه أو على علاقة بها، لستكون بحد اقصى، القيمة الادنى لـ<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>السعر الذي تم بيع المنتج به على الموقع وأسعار الشحن الأصلية<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>مبلغ الرسوم المتنازع عليها، على ان لا تتجاوز قيمتها إجمالي قيمة الرسوم التي تم تسديدها إلينا خلال فترة الأثني عشر(12) شهراً التي تسبق الإجراء الذي أدى إلى المسؤولية<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>ثلاثمائة (300) ريال سعودي<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>توافق على تعويضنا وإبراء ذمتنا، بما في ذلك تعويض وإبرام ذمة شركتنا الأم والشركات التابعة لها وفروعها والمديرين والمسؤولين والوكلاء والموظفين والموردين والمقاولين من الباطن والمرخصين المتعلقين بشركتنا أو بالشركة الأم والشركات الفرعية والتابعة من وضد أي خسائر وأضرار ونفقات (بما في ذلك الرسوم القانونية وأتعاب المحامين ) (&quot;المطالبات&quot;) التي تنشأ عن<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>أي ادعاءات أو مطالبات قدمها الغير نتيجة لاستخدامك الخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>انتهاك أي من الأحكام الواردة في شروط الاستخدام هذه، بما في ذلك على سبيل المثال لا الحصر أي من الضمانات والتعهدات والإقرارات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>انتهاك أي من القوانين المعمول بها، على سبيل المثال لا الحصر قوانين حماية البيانات أو قوانين مكافحة البريد الإلكتروني العشوائي<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الطريقة التي تقوم من خلالها استخدام خدماتنا، على سبيل المثال لا الحصر المحتوى الذي تقوم بنشره، والمنتجات التي تقوم بإدراجها أو العلامات التجارية الخاصة بك التي تنتهك أياً من حقوق الملكية الفكرية للغير أو أن يكون المحتوى الخاص بك به افتراءات أو هجاء أو قذف أو انتهاك لأي من الحقوق الأخرى (بما في ذلك حقوق الخصوصية) المتعلقة بالغير (بما في ذلك مستخدمي المواقع الأخرين)<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>التعليق أو الإنهاء أو الإلغاء</strong>\r\n\t<ol>\r\n\t\t<li>مع عدم المساس بأيٍّ من الحقوق أو التعويضات أو دون أي مسؤولية تجاهك، يحق لنا حد أو تعليق أو سحب إمكانية دخولك او استخدامك للخدمات أو إلغاء طلب أي منتجات و/ أو حذف المحتوى المقدم من قبلك وفقاً لتقديرنا الخاص. وتجنبا للشك، سيتم رد أي مبالغ تم دفعها واستلامها من قبلنا فيما يتعلق بطلب منتجات تم إلغائه<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>الإبلاغ عن انتهاك شروط الاستخدام</strong><strong><span dir=\"LTR\">:</span></strong>\r\n\t<ol>\r\n\t\t<li>نلتزم بضمان امتثال المنتجات والمحتوى الوارد في الموقع لشروط الاستخدام هذه. إذا كان المحتوى الوارد لا يتناسب مع شروط الاستخدام هذه يُرجى إخطارنا وسنقوم نحن بالتحقيق في الأمر<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>الشركات التابعةلسدو والخدمات الإضافية</strong>\r\n\t<ol>\r\n\t\t<li>توفر شركة حلول سدو للتسويق الالكتروني شركة الشخص الواحد ش.ذ.م.م و/أو الشركات التابعة لها (&quot;الشركات التابعة سدو&quot;) ميزات الموقع والمنتجات والخدمات الأخرى لك عند استخدامك أو اشتراكك كمشتري و/أو كبائع في الموقع. &quot;شركة تابعة&quot; تعني ، فيما يتعلق بشخص معين ، أي شركة تسيطر بشكل مباشر أو غير مباشر أو تخضع لسيطرة أو تخضع لسيطرة مشتركة مع هذا الشخص<span dir=\"LTR\">.</span></li>\r\n\t\t<li>لتعزيز تجربتك عبر الموقع ومع الشركات التابعة لسدو، فإنك توافق بموجب هذا على أنه يجوز لنا إنشاء خدمات و / أو وظائف و / أو حسابات إضافية نيابة عنك، وذلك باستخدام المعلومات التي تقدمها لنا على الموقع<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>أحكام عامة</strong>\r\n\t<ol>\r\n\t\t<li><strong>القانون المطبق</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إن شروط الاستخدام هذه وأياً من الحقوق أو الواجبات غير التعاقدية ذات الصلة يجب إخضاعها وتفسيرها للقوانين المطبقة في المملكة العربية السعودية<span dir=\"LTR\">..</span></li>\r\n\t\t<li><strong>حل النزاعات</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إذا كان لديك أي من المشكلات الخاصة بخدماتنا يُرجى الاتصال بنا<span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">. </span>وسنعمل جاهدين على حل المشكلة التي تواجهك في أقرب فرصة ممكنة. يتم تسوية أي من النزاعات أو الخلافات المتعلقة بشروط الاستخدام هذه، بما في ذلك أي حقوق أو واجبات غير تعاقدية ذات صلة عن طريق محاكم المملكة العربية السعودية<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>حقوق الغير</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;الشخص الذي لا يُعد جزءاً من شروط الاستخدام هذه ليس لديه أي حق في تنفيذ أي من شروطها<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>علاقة الأطراف</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;لا يوجد في شروط الاستخدام هذه ما يمكن للأطراف أو للغير تأويله أو تفسيره ليفسر العلاقة بيننا على أنها بين شركاء أو وكلاء أو يوجِد مشروعاً مشتركاً بين الأطراف، ولكنه من المفهوم والواضح أن كل الأطراف في الاتفاق هي أطراف مستقلة<span dir=\"LTR\"> .</span></li>\r\n\t\t<li><strong>التأكيدات الإضافية</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;تقوم الأطراف بالتصرفات اللازمة أو الترتيب لاتخاذ التصرفات اللازمة وتحرير المستندات وغيرها من الأمور التي تقع ضمن سلطتها من أجل إنفاذ شروط الاستخدام هذه والتحقق من العمل بها، بما في ذلك على سبيل المثال لا الحصر مساعدة كل طرف على الالتزام بالقانون المعمول به<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>التنازل</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;تلتزم شروط الاستخدام هذه بضمان تحقيق الفائدة للأطراف ولخلفائهم المعنيين والمُفوضين رسمياً. توافق على أنك لن تقوم بالتنازل عن أو نقل شروط الاستخدام أو أي من الحقوق أو الواجبات الخاصة بك والمتعلقة بشروط الاستخدام هذه، سواء كان ذلك بشكلٍ مباشر أو غير مباشر، دون الحصول مسبقاً على موافقة خطية من قبلنا<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>مجمل الاتفاق</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إن شروط الاستخدام هذه والوثائق المشار إليها أو المدرجة في شروط الاستخدام تمثل مجمل الاتفاق بين الأطراف فيما يتعلق بموضوع الاتفاقية وتسمو على وتحجب جميع الاتفاقيات والمفاوضات والإقرارات السابقة، الخطية أو الشفهية، ذات الصلة بالموضوع. باستثناء ما هو محدد في شروط الاستخدام والوثائق المشار إليها أو المدرجة في شروط الاستخدام الماثلة فلا توجد أي شروط أو إقرارات أو ضمانات أو تعهدات أو اتفاقيات بين الأطراف سواء كان ذلك مباشراً أو غير مباشر أو جماعياً أو صريحاً أو ضمنياً<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>التعديلات</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;لا يحق إجراء أي تعديل على شروط الاستخدام هذه أو إدخال أي إضافة أو تكملتها. نحن نحتفظ بالحق في إدخال أي تعديل أو تغيير أو إضافة أو إكمال شروط الاستخدام هذه في أي وقت أو من وقتٍ لآخر. وسنقوم بنشر النسخة الحالية لشروط الاستخدام على الموقع وستكون سارية المفعول عند نشرها على الموقع أو بناء على الموعد المحدد من جانبنا بصفته &quot;تاريخ السريان&quot; (إن وجد). إن استخدامك المستمر للخدمات في حال حدوث أي تغييرات يُعد موافقة منك على الالتزام بشروط الاستخدام المعدلة<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>قابلية الفصل بين البنود</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إذا ما تم اعتبار أي من أحكام شروط الاستخدام هذه ملغًى من قبل أيٍّ من المحاكم المختصة أو غير قانوني أو غير معمول به فإنه يتم إلغاء هذا لبند من شروط الاستخدام هذه وتستمر باقي الشروط والأحكام قائمة سارية نافذة طالما ظل الجوهر القانوني والاقتصادي للصفقات التي تمت تحت شروطها قائماً دون أي تأثير معاكس على أطرافها<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>القوة القاهرة</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;لا يتحمل أي طرف مسؤولية وجود الخسارة أو الضرر أو التأخير أو عدم الوفاء نتيجة للأعمال الخارجة عن السيطرة لأي من الأطراف سواء كان ذلك العمل يمكن توقعه (مثل القضاء والقدر والإجراءات الصادرة عن السلطات التشريعية أو القضائية أو التنظيمية لأي من الحكومة الفيدرالية أو المحلية أو السلطات القضائية أو الإجراءات التي يقوم بها أي من المقاولين من الباطن التابعين لنا أو أي طرف ثالث مورد البضائع أو الخدمات لنا أو الاضطرابات العمالية أو الانقطاع الكامل للتيار الكهربائي أو المقاطعة الاقتصادية)<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>عدم التنازل</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إن التنازل عن أي من الأحكام الواردة في شروط الاستخدام لا يُعد تنازلاً عن أي من الأحكام الأخرى (المشابهة أو غير المشابهة)، ولا يعد أي تنازل آخر تنازلاً مستمراً عن أي من الأحكام المعنية، ما لم ننص على ذلك صراحة وخطياً<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>التواصل</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;يمكنك التواصل معنا عبر البريد الإلكتروني، أو عبر مواقع التواصل الإجتماعي الخاص بنا ، أو المحادثة المباشرة على الموقع <span dir=\"LTR\">).</span></li>\r\n\t\t<li><strong>استمرار النفاذ</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;جميع الأحكام التي يُنص على أنها تظل سارية أو التي تسري بطبيعتها بعد إنهاء التعاقد تظل نافذة المفعول بعد إنهاء أو تعليق عضويتك في الموقع<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n</ol>\r\n\r\n<p>مرحباً بك في موقع&nbsp;</p>\r\n\r\n<p><a href=\"http://www.sado-ksa.com\"><span dir=\"LTR\">www.sado-ksa.com</span></a>&nbsp;الإلكتروني (&quot;الموقع&quot;)<span dir=\"LTR\">.</span></p>\r\n\r\n<p>تنص شروط الاستخدام هذه وجميع السياسات والشروط الإضافية (في حال تطبيقها) الموجودة على الموقع على الشروط التي نقدمها لك للدخول الى واستخدام الموقع والخدمات والتطبيقات، بما في ذلك تطبيق الهاتف الجوال الخاصة بنا (ويُشار إليها مجتمعة بـ&quot;الخدمات&quot;). يمكنك معرفة جميع السياسات والشروط الإضافية من هنا&nbsp;<a href=\"http://www.sado-ksa.com\"><span dir=\"LTR\">www.sado-ksa.com</span></a>&nbsp;(&quot;الوثائق القانونية&quot;). تُدرج تلك الوثائق القانونية بالإشارة إليها في شروط الاستخدام الماثلة<span dir=\"LTR\">.</span></p>\r\n\r\n<p>حال وصولك و/ أو تسجيلك و/ أو استمرارك في استخدام الخدمات أو الوصول إليها، فأنت توافق على الالتزام بشروط الاستخدام هذه والوثائق القانونية بأثر فوري<span dir=\"LTR\">.</span></p>\r\n\r\n<p>ان شروط الاستخدام هذه والوثائق القانونية خاضعة للتعديل من قبلنا في اي وقت. إن استمرار استخدامك للموقع بعد نشر أي تغيير يعني موافقتك على شروط الاستخدام هذه والوثائق القانونية التي تم تعديلها<span dir=\"LTR\">.</span></p>\r\n\r\n<p><strong>نُبذة عن الموقع</strong></p>\r\n\r\n<p>يعد هذا الموقع منصة للتجارة الإلكترونية التي تتيح للمستخدمين من المؤسسات التجارية عرض وبيع المنتجات، كما يتيح للشركات والأفراد شراء مجموعة متنوعة من المنتجات<span dir=\"LTR\">.</span></p>\r\n\r\n<p>نحتفظ بحق تقديم خدمات جديدة وتحديث أي من الخدمات أو سحبها، وفقاً لتقديرنا الخاص دون اية مسؤولية<span dir=\"LTR\">.</span></p>\r\n\r\n<ol>\r\n\t<li><strong>شروط التسجيل</strong>\r\n\r\n\t<ol>\r\n\t\t<li>يحق لك التسجيل كمشترٍ أو بائع والاستفادة من الخدمات إذا توفرت لديك معايير الاهلية التالية<span dir=\"LTR\">:</span>\r\n\r\n\t\t<ol>\r\n\t\t\t<li>للمشترين<span dir=\"LTR\">:</span>\r\n\r\n\t\t\t<ol>\r\n\t\t\t\t<li>أن تكون بالغاً السن القانونية لتتمكن من شراء المنتجات في بلد إقامتك<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أن تكون قادراً على تقديم عنوان في الإمارات العربية المتحدة أو في المملكة العربية السعودية لتسليم المنتجات<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t\t<li>للبائعين<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>أن يكون لديك شركة تجارية مسجلة وفقاً لقوانين الدولة الخاصة بك<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أن يكون لديك ترخيص تجاري سارٍ<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أن يمكنك تقديم ما يثبت تفويض الأفراد الذين يقومون بالتسجيل في الموقع أو باستخدامه<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>تقديم إثبات الهوية للشخص المفوض<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>تقديم بيانات مصرفية داعمة<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>تقر وتوافق على أنه قد تنطبق بعض المتطلبات الإضافية لبعض الفئات من المنتجات<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>للتسجيل على الموقع، سنحتاج إلى تقديم بعض المعلومات، ولن يتم قبول تسجيلك في الموقع إذا لم يتم تقديم المعلومات اللازمة لنا. لدينا الحق في رفض أي من عمليات التسجيل دون إبداء الأسباب. كما يحق لنا أيضاً القيام بعمليات التحقق اللازمة للتأكد من هويتك ومتطلبات التسجيل<span dir=\"LTR\">.</span></li>\r\n\t\t<li>وبمجرد الانتهاء من التسجيل بنجاح، يستمر التسجيل الخاص بك لفترة غير محددة خاضعاً لاحتمال تعليقه أو إلغائه وفقاً للبند رقم 6 من شروط الاستخدام هذه<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>الالتزامات الخاصة بك</strong>\r\n\t<ol>\r\n\t\t<li>عند استخدامك للخدمات أو وصولك إليها، فأنت توافق على ما يلي<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>مسؤوليتك عن الحفاظ على الخصوصية وتقييد الوصول إلى الحساب الخاص بك واستخدامه هو وكلمة المرور، والموافقة على تحمل مسؤولية جميع الأنشطة التي تتم باسم الحساب الخاص بك وكلمة المرور الخاصة بك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الموافقة على إخطارنا فورا عن أي استخدام غير مصرح به لكلمة المرور أو الحساب الخاص بك أو أي خرقٍ آخر لمعايير الاستخدام الآمن للموقع<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>تقديم المعلومات الكاملة والحقيقية والدقيقة والحالية عن نفسك وعن استخدامك للخدمات كما هو محدد من قبلنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>عدم الإفصاح للغير (باستثناء ما يلزم أو ما هو محدد من قبلنا) عن معلومات المستخدم المقدمة لك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التعاون مع الطلبات الصادرة عنا للحصول على معلومات إضافية فيما يتعلق بأهليتكك واستخدامك لخدماتنا<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>عند استخدامك للخدمات أو وصولك إليها، فأنت توافق على أنك لن تقوم بما يلي<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>نشر أو إدراج أو تحميل أي من المحتويات أو المواد غير المناسبة أو المحظورة في موقعنا، بما في ذلك<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>المحتوى أو المواد غير الملائمة أخلاقياً أو دينياً بأي شكلٍ من الأشكال<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المحتوى أو المواد التي لا تتوافق مع القانون المحلي والشريعة الإسلامية والقواعد والأخلاق والقيم والآداب والتقاليد<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المحتوى أو المواد التي قد تُهدد الأمن القومي<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المحتوى أو المواد التي قد تروج أو تندرج في إطار المقامرة<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>الأوراق المالية، بما في ذلك الأسهم أو السندات أو الصكوك أو أي من الأوراق المالية الأخرى أو أي من الأصول<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المخلوقات الحية أو النافقة و/ أو أي جزء من أي حيوان تم الاحتفاظ به أو الحفاظ عليه بأي من الوسائل الصناعية أو الطبيعية<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أي من الأسلحة<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>الخمر ومنتجات التبغ والمخدرات والمواد المؤثرة على العقل والمواد المنومة والمسكرات بأي من أنواعها والأدوية الطبية<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>حسب علمك، المواد التي تكون معيبة أو زائفة أو تالفة أو مضللة أو قد تسبب ضررا عند استخدامها بشكلٍ طبيعي لمصلحة مستخدم آخر للموقع أو لصحته<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>قسائم غير قابلة للتحويل<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>المواد الكيميائية<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t\t<li>نشر المواد التي لا يحق لك مشاركة الرابط الخاص بها أو إدراجها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نشر المواد المزيفة أو المسروقة<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>خرق القانون أو التحايل عليه، أو خرق أي من حقوق الغير أو الأنظمة الخاصة بنا أو السياسات أو خرق القرارات المتعلقة بحالة الحساب الخاص بك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>استخدام الخدمات إذا لم تعد تستوفي معايير أهلية الاستخدام أو كنتَ غير قادر على إبرام عقود ملزمة قانونياً أو تم ايقاف حسابك بشكلٍ مؤقت أو لأجلٍ غير مسمى<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>عدم تسديدك ثمن المنتجات التي قمت بشرائها، إلا إذا كان هناك سبب قانوني يؤيد ذلك في أي من السياسات الخاصة بنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>عدم تسليم العملاء المنتجات التي قمت ببيعها (إذا انطبق ذلك)، إلا إذا كان هناك سبب قانوني يؤيد موقفك ومذكور في أي من السياسات الخاصة بنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>استخدام معلومات الاتصال المقدمة لك أثناء عقد الصفقة عبر الموقع لمحاولة زيادة مبيعاتك خارج حدود الموقع أو عبر مواقع أخرى<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التلاعب في سعر أي من المنتجات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التدخل في القوائم الخاصة بالمستخدمين الآخرين<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>اتخاذ أي إجراء من شأنه أن يقلل من تقييم الموقع وأنظمة التصنيف<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نشر المحتوى الخاطئ أو غير الدقيق أو المضلل أو المخادع أو التشهيري أو ما شابه<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نقل الحساب الخاص بك إلى طرف آخر دون الحصول على موافقة خطية مسبقة من قبلنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نشر الرسائل أو المراسلات الإلكترونية غير المرغوب فيها أو ما شابه ذلك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>نشر الفيروسات أو أيٍّ من التقنيات الآخرى التي قد تضر بخدماتنا أو بمصالح المستخدمين الآخرين أو أملاكهم<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>خرق<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>القوانين الخاصة بحقوق النشر، العلامة التجارية، براءة الاختراع، الأخلاق، الإعلان، قاعدة البيانات، و/ أو أي من حقوق الملكية الفكرية (ويُشار إليها مجتمعة بـ&nbsp;<strong><span dir=\"LTR\">&quot;</span></strong><strong>حقوق الملكية الفكرية</strong><strong><span dir=\"LTR\">&quot;</span></strong><span dir=\"LTR\">) </span>التي تتعلق بنا أو المرخصة لنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أي من حقوق الملكية الفكرية التي تتعلق بالغير<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t\t<li>جمع المعلومات الخاصة بالمستخدمين دون الحصول على موافقتهم<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أو التحايل على أي من الإجراءات التقنية التي نتبعها لتقديم الخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>خدمة الاستبدال</strong>\r\n\t<ol>\r\n\t\t<li>تقدّم سدو خدمة الاستبدال بالتعاون مع أي طرف ثالث، حيث يمكنك استبدال جهازك الحالي المؤهل (&quot;جهاز الاستبدال&quot;) عند شراء جوال جديد (&quot;خدمة الاستبدال&quot;). وبالتالي، سيقدّم لك شريك الاستبدال قيمة تقديرية لجهازك الحالي للاستبدال (&quot;قيمة الاستبدال&quot;). سيتم إضافة قيمة الاستبدال إلى حسابك المسجل كرصيد في سدو. حيث يمكنك تحويل رصيدك في سدو لحسابك المصرفي. تتوفر خدمة الاستبدال هذه على ماركات وأجهزة مُختارة والتي يتم شراؤها عبر موقع سدو على <span dir=\"LTR\"><a href=\"http://www.sado-ksa.com\">www.sado-ksa.com</a></span>أو تطبيق سدو عبر خيار الاستبدال<span dir=\"LTR\">.</span></li>\r\n\t\t<li>تخضع خدمة الاستبدال للشروط التالية الموضحة&nbsp;<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>حقوق الملكية الفكرية</strong>\r\n\t<ol>\r\n\t\t<li>باستثناء الحقوق التي تم منحها صراحة وفقاً لشروط الاستخدام هذه<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>جميع المحتويات الواردة في الموقع تدخل في إطار ملكيتنا الخاصة أو ضمن الملكية الخاصة بمرخصينا، بما في ذلك على سبيل المثال لا الحصر النصوص والرسوم البيانية والشعارات والصور والمقاطع الصوتية والتنزيلات الرقمية والبرمجيات. فنحن (أو المرخصون لنا، وفقاً لما تقتضيه الحالة) نحتفظ بجميع حقوقنا، وملكيتنا ومصلحتنا بالموقع والخدمات -وذلك على سبيل المثال لا الحصر- بجميع حقوق الملكية الفكرية الواردة ضمن شروط الاستخدام هذه<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>وأيضاً جميع الحقوق والملكيات والمصالح لأي من المعلومات أو المواد أو المحتويات الأخرى التي تقدمها أنت من خلال استخدامك للخدمات بالإضافة الى جميع حقوق الملكية الفكرية الخاصة بك والواردة ضمن شروط الاستخدام هذه ستصبح ملكاً لنا<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>توافق على أنه لا يحق لك استخدام العلامات التجارية الخاصة بنا دون وجود موافقة خطية مسبقة<span dir=\"LTR\">.</span></li>\r\n\t\t<li>إن جميع الحقوق غير المخولة لك بشكلٍ واضح في شروط الاستخدام الماثلة يتم الاحتفاظ بها لنا أو للمرخصين لنا<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>الضمانات والتعهدات والإقرارات</strong>\r\n\t<ol>\r\n\t\t<li>تضمن وتتعهد وتقر بما يلي<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>الامتثال التام للاستمرار بالعمل وفقاً للقوانين والأنظمة واللوائح المطبقة، بما في ذلك على سبيل المثال لا الحصر الالتزام بالتشريعات المتعلقة بقوانين الخصوصية وتنظيم المحتوى<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>لديك السلطة الكاملة للتعاقد وفقاً لشروط الاستخدام الماثلة، وأن تنفيذك التزامك بموجب شروط الاستخدام هذه لا يتعارض مع<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>أي من القوانين أو القواعد أو اللوائح أو الإرشادات الحكومية التي تخضع لها<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>أي من الاتفاقيات الأخرى التي كنت طرفاً فيها أو التي عليك الالتزام بها<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t\t<li>إذا قمت بإنشاء حساب أو استخدامه بالنيابة عن شركة فأنت بذلك مخول بالتصرف نيابة عن هذه الشركة وتضمن التزامها بالعمل بشروط الاستخدام الماثلة. ويُعد هذا الحساب ملكاً لهذه الشركة وتحت إدارتها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أنك مالك أو مخول بمنح الحقوق والتراخيص التي منحتنا إياها وفق شروط الاستخدام هذه<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أي محتوى قمت بتقديمه كجزء من استخدامك للخدمات ولأي من المنتجات التي تقوم بإدراجها، لا ينتهك حقوق الغير في أي مكان حول العالم، على سبيل المثال لا الحصر أي من حقوق الملكية الفكرية (سواء كانت مسجلة أم لا)<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>وفقاً للبند <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-1</span>، فإن الخدمات تُقدم إليك على &quot;حالتها الحالية&quot; دون ضمانات أو تعهدات أو إقرارات. فنحن نخلي مسؤوليتنا عن جميع الضمانات أو التعهدات أو الإقرارات بجميع أشكالها، سواء الصريحة أو الضمنية أو الإضافية، على سبيل المثال لا الحصر جميع الضمانات أو التعهدات أو الإقرارات الخاصة بصلاحية المحتوى للأغراض التجارية أو ملاءمته لغرض محدد أو عام أو عدم مخالفته أو خرقه لأي حقوق أو كون خدماتنا آمنة أو خالية من العيوب أو سوف تعمل دون وجود أي عطل أو سيتم تقديمها في الوقت المناسب أو على العموم<span dir=\"LTR\">.</span></li>\r\n\t\t<li>وعلاوة على ذلك، فعلى الرغم من أننا نحاول أن نتوخى الدقة قدر المستطاع، فإننا لا نضمن أن تكون مواصفات المنتج أو أي محتوى آخر لأي خدمة دقيقاً أو كاملاً أو موثوقاً به أو حديثاً أو خالياً من الأخطاء. بالإضافة إلى ذلك -وبناءً على كونك مشترياً- فأنت توافق على أننا غير مسؤولين عن فحص أو اختبار القوائم أو محتوى الخدمات المقدمة من قبلنا أو من قبل الغير، وأنك لن تحاول أن تضع على عاتقنا مسؤولية أي من الأخطاء او العيوب في اي من القوائم. وبناءً على كونك بائعاً فإنك مسؤول عن مراجعة دقة المحتوى الوارد ضمن القوائم الخاصة بك وأنك لن تحاول أن تضع على عاتقنا أو على عاتق مقدمي المحتوى/ الكتيب مسؤولية وجود أخطاء أو عدم الدقة<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>المسؤولية والتعويضات</strong>\r\n\t<ol>\r\n\t\t<li>لا يوجد في شروط الاستخدام هذه ما من شأنه أن يحد أو يعف مسؤولية أي من الأطراف عن<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>الاحتيال، بما في ذلك التدليس، الذي يقوم به هذا الطرف<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الوفاة أو الإصابة الشخصية نتيجة لإهمال هذا الطرف<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أي من المسؤوليات الأخرى التي لا يمكن حدها أو الإعفاء منها وفقاً للقانون المعمول به<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>وفقاً للبند <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-1</span>، ففي جميع الأحوال لن نتحمل نحن وشركتنا الأم وشركاتنا الفرعية والشركات التابعة ومديرونا ومديروهم والمسؤولون والوكلاء والموظفون والموردون والمقاولون من الباطن أو المرخصين -سواء بناءً على دعوى أو مطالبة في العقد أو ضرر أو إهمال أو خرق واجب قانوني أو خرق لشروط الاستخدام هذه- مسؤوليةَ أي دعوى خاصة بخسارة الأرباح أو فقد البيانات أو المعلومات أو عطل في العمل أو أي خسارة مالية أو أي أضرار خاصة أو غير مباشرة أو عرضية حتى وإن تم إخطارنا نحن أو الشركات التابعة أو المديرين أو المسؤولين أو الوكلاء أو الموظفين أو المرخصين أو الموردين أو المقاولين من الباطن باحتمال وجود مثل هذه الأضرار<span dir=\"LTR\">.</span></li>\r\n\t\t<li>بالإضافة إلى الحد الذي يسمح به القانون المعمول به، فنحن (بما في ذلك، الشركة الأم أو الشركات الفرعية أو الشركات التابعة أو المديرون أو المسؤولون أو الوكلاء أو الموظفون أو الموردون أو المقاولون من الباطن أو المرخصين) لن نتحمل المسؤولية، كما أنك تقر بأنك لن تضع على عاتقنا مسؤولية حدوث أي ضرر أو فقدان ناتجة بشكلٍ مباشر أو غير مباشر عن<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>المحتوى أو المعلومات الأخرى التي تقدمها عند استخدامك للخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>استخدامك للخدمات أو عدم قدرتك على استخدامها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التسعير أو الشحن أو التنسيق أو أيٍّ من الإرشادات المقدمة من قبلنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التأخر أو الانقطاع في تقديم الخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الفيروسات أو غيرها من البرامج الضارة التي وجدت من خلال الوصول إلى الخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>وجود أخطاء في الخدمات أو أعطال أو عدم دقة بأي شكل من الأشكال<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>تلف الجهاز الخاص بك من خلال استخدام المنتجات التي تم بيعها على الموقع أو من خلال خدماتنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>المحتوى أو أفعال أو امتناع عن فعل الغير المستخدمين لخدماتنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التعليق أو أي اجراءات أخرى نتخذها متعلقة باستخدامك للخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الفترة الزمنية التي تظهر فيها القوائم الخاصة بك في نتائج البحث أو طريقة ظهورها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>حاجتك إلى تعديل الممارسات أو المحتوى أو السلوك أو خسارتك أو عدم قدرتك على القيام بالأعمال التجارية نتيجة لوجود تغيرات في شروط الاستخدام هذه<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>ووفقاً للبند <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-1</span>، إذا ثبت أن البند <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-2 </span>أو <span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">5-3 </span>غير قابل للتنفيذ أو التطبيق لأي سبب من الأسباب، ، تقتصر التزاماتنا الكلية بما في ذلك التزام الشركة الأم أو الشركات الفرعية أو التابعة لنا ومديريها أو مسؤوليها أو وكلائها أو موظفيها أو مورديها أو مقاوليها من الباطن أو المرخصين تجاهك سواء كان ذلك نتيجة لأي دعوى أو مطالبة في العقد أو إهمال أو خرق لأي واجب قانوني أو بخلاف ذلك ناتجة عن شروط الاستخدام هذه أو على علاقة بها، لستكون بحد اقصى، القيمة الادنى لـ<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>السعر الذي تم بيع المنتج به على الموقع وأسعار الشحن الأصلية<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>مبلغ الرسوم المتنازع عليها، على ان لا تتجاوز قيمتها إجمالي قيمة الرسوم التي تم تسديدها إلينا خلال فترة الأثني عشر(12) شهراً التي تسبق الإجراء الذي أدى إلى المسؤولية<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>ثلاثمائة (300) ريال سعودي<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>توافق على تعويضنا وإبراء ذمتنا، بما في ذلك تعويض وإبرام ذمة شركتنا الأم والشركات التابعة لها وفروعها والمديرين والمسؤولين والوكلاء والموظفين والموردين والمقاولين من الباطن والمرخصين المتعلقين بشركتنا أو بالشركة الأم والشركات الفرعية والتابعة من وضد أي خسائر وأضرار ونفقات (بما في ذلك الرسوم القانونية وأتعاب المحامين ) (&quot;المطالبات&quot;) التي تنشأ عن<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>أي ادعاءات أو مطالبات قدمها الغير نتيجة لاستخدامك الخدمات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>انتهاك أي من الأحكام الواردة في شروط الاستخدام هذه، بما في ذلك على سبيل المثال لا الحصر أي من الضمانات والتعهدات والإقرارات<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>انتهاك أي من القوانين المعمول بها، على سبيل المثال لا الحصر قوانين حماية البيانات أو قوانين مكافحة البريد الإلكتروني العشوائي<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>الطريقة التي تقوم من خلالها استخدام خدماتنا، على سبيل المثال لا الحصر المحتوى الذي تقوم بنشره، والمنتجات التي تقوم بإدراجها أو العلامات التجارية الخاصة بك التي تنتهك أياً من حقوق الملكية الفكرية للغير أو أن يكون المحتوى الخاص بك به افتراءات أو هجاء أو قذف أو انتهاك لأي من الحقوق الأخرى (بما في ذلك حقوق الخصوصية) المتعلقة بالغير (بما في ذلك مستخدمي المواقع الأخرين)<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>التعليق أو الإنهاء أو الإلغاء</strong>\r\n\t<ol>\r\n\t\t<li>مع عدم المساس بأيٍّ من الحقوق أو التعويضات أو دون أي مسؤولية تجاهك، يحق لنا حد أو تعليق أو سحب إمكانية دخولك او استخدامك للخدمات أو إلغاء طلب أي منتجات و/ أو حذف المحتوى المقدم من قبلك وفقاً لتقديرنا الخاص. وتجنبا للشك، سيتم رد أي مبالغ تم دفعها واستلامها من قبلنا فيما يتعلق بطلب منتجات تم إلغائه<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>الإبلاغ عن انتهاك شروط الاستخدام</strong><strong><span dir=\"LTR\">:</span></strong>\r\n\t<ol>\r\n\t\t<li>نلتزم بضمان امتثال المنتجات والمحتوى الوارد في الموقع لشروط الاستخدام هذه. إذا كان المحتوى الوارد لا يتناسب مع شروط الاستخدام هذه يُرجى إخطارنا وسنقوم نحن بالتحقيق في الأمر<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>الشركات التابعةلسدو والخدمات الإضافية</strong>\r\n\t<ol>\r\n\t\t<li>توفر شركة حلول سدو للتسويق الالكتروني شركة الشخص الواحد ش.ذ.م.م و/أو الشركات التابعة لها (&quot;الشركات التابعة سدو&quot;) ميزات الموقع والمنتجات والخدمات الأخرى لك عند استخدامك أو اشتراكك كمشتري و/أو كبائع في الموقع. &quot;شركة تابعة&quot; تعني ، فيما يتعلق بشخص معين ، أي شركة تسيطر بشكل مباشر أو غير مباشر أو تخضع لسيطرة أو تخضع لسيطرة مشتركة مع هذا الشخص<span dir=\"LTR\">.</span></li>\r\n\t\t<li>لتعزيز تجربتك عبر الموقع ومع الشركات التابعة لسدو، فإنك توافق بموجب هذا على أنه يجوز لنا إنشاء خدمات و / أو وظائف و / أو حسابات إضافية نيابة عنك، وذلك باستخدام المعلومات التي تقدمها لنا على الموقع<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>أحكام عامة</strong>\r\n\t<ol>\r\n\t\t<li><strong>القانون المطبق</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إن شروط الاستخدام هذه وأياً من الحقوق أو الواجبات غير التعاقدية ذات الصلة يجب إخضاعها وتفسيرها للقوانين المطبقة في المملكة العربية السعودية<span dir=\"LTR\">..</span></li>\r\n\t\t<li><strong>حل النزاعات</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إذا كان لديك أي من المشكلات الخاصة بخدماتنا يُرجى الاتصال بنا<span dir=\"LTR\">&lrm;</span><span dir=\"LTR\">. </span>وسنعمل جاهدين على حل المشكلة التي تواجهك في أقرب فرصة ممكنة. يتم تسوية أي من النزاعات أو الخلافات المتعلقة بشروط الاستخدام هذه، بما في ذلك أي حقوق أو واجبات غير تعاقدية ذات صلة عن طريق محاكم المملكة العربية السعودية<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>حقوق الغير</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;الشخص الذي لا يُعد جزءاً من شروط الاستخدام هذه ليس لديه أي حق في تنفيذ أي من شروطها<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>علاقة الأطراف</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;لا يوجد في شروط الاستخدام هذه ما يمكن للأطراف أو للغير تأويله أو تفسيره ليفسر العلاقة بيننا على أنها بين شركاء أو وكلاء أو يوجِد مشروعاً مشتركاً بين الأطراف، ولكنه من المفهوم والواضح أن كل الأطراف في الاتفاق هي أطراف مستقلة<span dir=\"LTR\"> .</span></li>\r\n\t\t<li><strong>التأكيدات الإضافية</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;تقوم الأطراف بالتصرفات اللازمة أو الترتيب لاتخاذ التصرفات اللازمة وتحرير المستندات وغيرها من الأمور التي تقع ضمن سلطتها من أجل إنفاذ شروط الاستخدام هذه والتحقق من العمل بها، بما في ذلك على سبيل المثال لا الحصر مساعدة كل طرف على الالتزام بالقانون المعمول به<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>التنازل</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;تلتزم شروط الاستخدام هذه بضمان تحقيق الفائدة للأطراف ولخلفائهم المعنيين والمُفوضين رسمياً. توافق على أنك لن تقوم بالتنازل عن أو نقل شروط الاستخدام أو أي من الحقوق أو الواجبات الخاصة بك والمتعلقة بشروط الاستخدام هذه، سواء كان ذلك بشكلٍ مباشر أو غير مباشر، دون الحصول مسبقاً على موافقة خطية من قبلنا<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>مجمل الاتفاق</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إن شروط الاستخدام هذه والوثائق المشار إليها أو المدرجة في شروط الاستخدام تمثل مجمل الاتفاق بين الأطراف فيما يتعلق بموضوع الاتفاقية وتسمو على وتحجب جميع الاتفاقيات والمفاوضات والإقرارات السابقة، الخطية أو الشفهية، ذات الصلة بالموضوع. باستثناء ما هو محدد في شروط الاستخدام والوثائق المشار إليها أو المدرجة في شروط الاستخدام الماثلة فلا توجد أي شروط أو إقرارات أو ضمانات أو تعهدات أو اتفاقيات بين الأطراف سواء كان ذلك مباشراً أو غير مباشر أو جماعياً أو صريحاً أو ضمنياً<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>التعديلات</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;لا يحق إجراء أي تعديل على شروط الاستخدام هذه أو إدخال أي إضافة أو تكملتها. نحن نحتفظ بالحق في إدخال أي تعديل أو تغيير أو إضافة أو إكمال شروط الاستخدام هذه في أي وقت أو من وقتٍ لآخر. وسنقوم بنشر النسخة الحالية لشروط الاستخدام على الموقع وستكون سارية المفعول عند نشرها على الموقع أو بناء على الموعد المحدد من جانبنا بصفته &quot;تاريخ السريان&quot; (إن وجد). إن استخدامك المستمر للخدمات في حال حدوث أي تغييرات يُعد موافقة منك على الالتزام بشروط الاستخدام المعدلة<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>قابلية الفصل بين البنود</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إذا ما تم اعتبار أي من أحكام شروط الاستخدام هذه ملغًى من قبل أيٍّ من المحاكم المختصة أو غير قانوني أو غير معمول به فإنه يتم إلغاء هذا لبند من شروط الاستخدام هذه وتستمر باقي الشروط والأحكام قائمة سارية نافذة طالما ظل الجوهر القانوني والاقتصادي للصفقات التي تمت تحت شروطها قائماً دون أي تأثير معاكس على أطرافها<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>القوة القاهرة</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;لا يتحمل أي طرف مسؤولية وجود الخسارة أو الضرر أو التأخير أو عدم الوفاء نتيجة للأعمال الخارجة عن السيطرة لأي من الأطراف سواء كان ذلك العمل يمكن توقعه (مثل القضاء والقدر والإجراءات الصادرة عن السلطات التشريعية أو القضائية أو التنظيمية لأي من الحكومة الفيدرالية أو المحلية أو السلطات القضائية أو الإجراءات التي يقوم بها أي من المقاولين من الباطن التابعين لنا أو أي طرف ثالث مورد البضائع أو الخدمات لنا أو الاضطرابات العمالية أو الانقطاع الكامل للتيار الكهربائي أو المقاطعة الاقتصادية)<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>عدم التنازل</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;إن التنازل عن أي من الأحكام الواردة في شروط الاستخدام لا يُعد تنازلاً عن أي من الأحكام الأخرى (المشابهة أو غير المشابهة)، ولا يعد أي تنازل آخر تنازلاً مستمراً عن أي من الأحكام المعنية، ما لم ننص على ذلك صراحة وخطياً<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>التواصل</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;يمكنك التواصل معنا عبر البريد الإلكتروني، أو عبر مواقع التواصل الإجتماعي الخاص بنا ، أو المحادثة المباشرة على الموقع <span dir=\"LTR\">).</span></li>\r\n\t\t<li><strong>استمرار النفاذ</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;جميع الأحكام التي يُنص على أنها تظل سارية أو التي تسري بطبيعتها بعد إنهاء التعاقد تظل نافذة المفعول بعد إنهاء أو تعليق عضويتك في الموقع<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n</ol>\r\n\r\n<p>&nbsp;</p>"
                  refund_policy:
                    status: 1
                    content: "<ol>\r\n\t<li><strong>مقدمة</strong>\r\n\t<ol>\r\n\t\t<li>يُقصد بشروط البيع الأحكام والشروط التي يتم بموجبها توريد وتسليم المشتريات إليك كمشترٍ على موقع&nbsp;<a href=\"http://www.sado-ksa.com\"><span dir=\"LTR\">www.sado-ksa.com</span></a>&nbsp;أو على تطبيق الهاتف المتحرك الخاص بنا (المشار إليهما مجتمعين بـ&quot;الموقع&quot;) الذي تمتلكه وتُديره شركةسدو<span dir=\"LTR\">.</span></li>\r\n\t\t<li>يرجى قراءة هذه الشروط بعناية قبل متابعة عملية الشراء عبر الموقع، يُعد إرسالك لأمر الشراء عبر الموقع موافقة منك على شروط البيع هذه والالتزام بما ورد فيها بأثر فوري<span dir=\"LTR\">.</span></li>\r\n\t\t<li>بالإضافة، يرجى قراءة سياسة الخصوصية الخاصة بنا، حيث يخضع استخدامك للموقع وشروط البيع هذه لسياسة الخصوصية الخاصة بنا<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>قبول أمر الشراء</strong>\r\n\t<ol>\r\n\t\t<li><strong>المورد</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;حسب ما تم تحديده في الموقع، يتم بيع كل منتج في أمر الشراء إما من قبلنا أو من قبل بائع محلي او عالمي<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>قبول أمر الشراء</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;يتم قبول أمر الشراء الصادر منك من قبلنا عندما نخطرك بالقبول كتابة (سواء بالبريد الإلكتروني أو برسالة قصيرة على الهاتف المتحرك)، وإذا لم يتيسر لنا قبول أمر الشراء الصادر منك فسوف نُخطرك بذلك كتابة أو من خلال مكالمة هاتفية يعقبه إخطار خطي عبر البريد الإلكتروني أو رسالة قصيرة على الهاتف المتحرك، ولن يتم خصم قيمة المنتج من حسابك<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>السداد</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;السداد: إصدارك لأمر الشراء هو تفويض منك لنا أو لأي طرف ثالث متخصص في عمليات السداد الإلكتروني بخصم قيمة المشتريات من رصيد بطاقتك الائتمانية أو بطاقة الخصم، علماً بأننا نقبل السداد بموجب<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>بطاقة ائتمانية أو بطاقة الخصم<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أو من خلال محفظتك الإلكترونية</li>\r\n\t\t\t<li>أو نقداً عند التسليم (مبلغ لا يتجاوز 6,500 ريال سعودي)</li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li>من أجل تخويل الدفعات ببطاقات ائتمانية/الخصم يجوز أن نطلب منك فتح حساب لدى شركات معالجة المدفوعات الأخرى الخاصة بنا، بما في ذلك قبول الاحكام والشروط الخاصة بها وتقديم التفاصيل الخاصة بك نيابة عنك. وتخولنا أنت بموجبه القيام بذلك ولن نكون مسؤولين أمامك عن أي ضرر أو خسارة قد تتكبدها نتيجة لذلك<span dir=\"LTR\">.</span></li>\r\n\t\t<li>يجوز لنا أن نضيف أو نلغي بطاقات دفع أو وسائل دفع معينة تم قبولها من قبلنا وذلك في أي وقت ودون أي إخطار مسبق من جانبنا<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>إلغاء أمر الشراء</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;يمكنك إلغاء أمر الشراء فوراً قبل شحن المنتج لأي سبب كان<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>إلغاء طلبيتك من قبلنا</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;يحق لنا إلغاء طلبيتك عند<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>عدم تسديد قيمة المشتريات عند استحقاقها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>إخفاقك خلال الفترة الزمنية المعقولة التي نحددها لك في تزويدنا بالمعلومات المطلوبة لتسليم المنتجات إليك<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>عدم سماحك لنا خلال فترة زمنية معقولة بتسليم المنتجات إليك أو إخفاقك في تسلُّمها<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>في حال محاولة الشراء بالجملة أو الشراء المتعدد وفقًا للبند 2.8 أدناه<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li><strong>شراء بالجملة والشراء المتعدد</strong><strong><span dir=\"LTR\">:&nbsp;</span></strong>نحتفظ بالحق في رفض أي طلبات، ووفقًا لتقديرنا الخاص، إذا اكتشفنا شراءًا بالجملة أو شراء متعدد لمنتجات مماثلة<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><strong>توصيل طلبك</strong>\r\n\t<ol>\r\n\t\t<li><strong>تكلفة التوصيل</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;تكون تكلفة توصيل المنتجات وفقاً للاسعار المذكورة على الموقع<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>تاريخ التوصيل</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;سيتم عرض هذه المعلومات لك على الموقع<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>التأخير في التوصيل</strong><strong><span dir=\"LTR\">:</span></strong>\r\n\t\t<ol>\r\n\t\t\t<li>إذا تأخر توصيلنا للمنتج لأسباب خارجة عن إرادتنا فسوف نتصل بك بأسرع ما يمكن لإعلامك بذلك، وسوف نتخذ خطوات للتقليل من تبعات التأخير في التوصيل<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>إذا لم يكن هناك أي شخص في عنوانك لتسلُّم المنتج وتعذَّر توصيل المنتج بالبريد على صندوق بريدك فسوف نعلمك في حينه عن كيفية تسليم المنتج أو تسلُّمك إياه<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>إذا لم تتمكن من تسلُّم المنتج منا كما هو متفق عليه أو لم تتمكن من إعادة تحديد موعد آخر لتسليم المنتج بعد تعذُّر تسليمه لك في عنوانك فسوف نتصل بك للحصول على المزيد من التعليمات. سوف نلغي طلبيتك وفقاً لشروط البيع الماثلة عند تعذُّر اتصالنا بك أو ترتيبنا لموعد جديد للتسليم أو التسلُّم على الرغم من جهودنا المتواصلة في هذا الشأن<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li><strong>التوصيل من خارج البلاد</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;قد يتم تسجيلك كمستورد في حال طلبك توصيل منتجات تكون من خارج البلاد. وفي هذه الحالة، يجب عليك التحقق من أن المنتجات المطلوبة مطابقة للقانون واللوائح، وعليك أيضاً الالتزام بسداد كافة الرسوم والجمارك المقررة على مشترياتك . وفيما يتعلق بالجمارك، يرجى الأخذ في الاعتبار ما يلي<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>قد تخضع لرسوم الاستيراد و/أو الضرائب عند طلب المنتجات التي تتطلب التوصيل من خارج البلاد، والتي قد تُفرض بمجرد وصول الطرد إلى الوجهة المحددة؛</li>\r\n\t\t\t<li>عليك ان تتحمل مباشرة أي رسوم إضافية للتخليص الجمركي، والعلم بأن ليس لدينا السيطرة على هذه الرسوم؛</li>\r\n\t\t\t<li>تختلف السياسات الجمركية من بلد إلى آخر، لذا يجب عليك الاتصال بمكتب الجمارك المحلي للحصول على مزيد من المعلومات (فيما يتعلق بالعمليات الجمركية والرسوم المطبقة)؛ و</li>\r\n\t\t\t<li>يجب أن تكون على علم بأن المنتجات التي تتطلب التوصيل من خارج البلاد قد تكون عرضة للفتح والتفتيش من قبل موظفي الجمارك في بلد المقصد<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li><strong>ملكية المنتجات</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;تصبح المنتجات مملوكة منك بمجرد ان نوصلها إليك في عنوان التسليم وسدادك لقيمتها كاملة<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>إصدار الفواتير</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;سوف نصدر فاتورة إلكترونية بقيمة مشترياتك ونرسلها إلى بريدك الإلكتروني الذي تزودنا به<span dir=\"LTR\">.</span></li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><a href=\"https://help.noon.com/hc/ar/articles/115001231234-%D9%85%D8%A7-%D9%87%D9%8A-%D8%B3%D9%8A%D8%A7%D8%B3%D8%A9-%D8%A7%D9%84%D8%A5%D8%B1%D8%AC%D8%A7%D8%B9-%D9%84%D8%AF%D9%89-%D9%86%D9%88%D9%86-\" target=\"_blank\"><strong>الإرجاع</strong></a>\r\n\t<ol>\r\n\t\t<li>يوضح الجدول التالي سياسة الإرجاع الخاصة بنا<span dir=\"LTR\">:</span></li>\r\n\t</ol>\r\n\t</li>\r\n</ol>\r\n\r\n<table cellspacing=\"0\" style=\"border-collapse:collapse\">\r\n\t<thead>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><strong>أسباب الإرجاع والإستبدال</strong></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><strong>إمكانية الإرجاع والإستبدال</strong></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><strong>شروط الإرجاع</strong></p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t</thead>\r\n\t<tbody>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>استلامك المنتج الخاطئ،</p>\r\n\r\n\t\t\t<p>استلامك منتجا ليس كما تم وصفه في الموقع، أو</p>\r\n\r\n\t\t\t<p>استلامك منتجا تالفا<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>نعم</p>\r\n\r\n\t\t\t<p>بالنسبة للمنتجات المجددة، يجب عليك إرجاع المنتج خلال سبعة (7) أيام من تسلمك إياه<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>لم يسبق استخدام المنتج، ويكون على حالته الأصلية بغلافه الأصلي ويتضمن جميع البطاقات<span dir=\"LTR\">.</span></p>\r\n\r\n\t\t\t<p>الإلكترونيات: تقبل فقط في حالة إذا فُتح المنتج ووُجد مختلفاً عن الوصف أو الصورة المعروضة<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>إذا غيرت رأيك<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>فقط في ظروف معينة كما هو موضح في&nbsp;<a href=\"https://www.noon.com/saudi-ar/return-policy\" target=\"_blank\"><strong>سياسة الاسترجاع</strong></a>&nbsp;الخاصة بنا<span dir=\"LTR\">.</span></p>\r\n\r\n\t\t\t<p>لديك الحق في إرجاع المنتج خلال خمسة عشر (15) يوماً من تسلُّمك إياه<span dir=\"LTR\">.</span></p>\r\n\r\n\t\t\t<p>بالنسبة للمنتجات المجددة، يجب عليك إرجاع المنتج خلال سبعة (7) أيام من تسلمك إياه<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>تخضع المرتجعات لشروط وأحكام خاصة لكل فئة معينة ويمكن العثور عليها في&nbsp;<a href=\"https://www.noon.com/saudi-ar/return-policy\"><strong>سياسة الاسترجاع</strong></a>&nbsp;الخاصة بنا<span dir=\"LTR\">. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t</tbody>\r\n</table>\r\n\r\n<ol>\r\n\t<li>\r\n\t<ol>\r\n\t\t<li><strong>المنتجات غير القابلة للإرجاع</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;لا يحق لك إرجاع أو إستبدال أيٍّ من المنتجات التالية<span dir=\"LTR\">:</span>\r\n\r\n\t\t<ol>\r\n\t\t\t<li>المصنفة موادَّ خطرةً أو تُستخدم فيها غازات أو سوائل ملتهبة قابلة للاشتعال<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>التي سبق استخدامها أو تسببتَ أنت في الإضرار بها أو أصبحت على حال يختلف عما تسلَّمتها عليه<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أي مواد استهلاكية تم استخدامها أو تركيبها في شيء آخر<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أي منتجات خالية من الرقم المتسلسل الخاص بها أو تم التلاعب به<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>أي منتجات من بين الأصناف المحددة بما فيها الأغذية والمشروبات والمنتجات المنزلية والكتب الرقمية وملابس السباحة والجوارب والملابس الداخلية والعدسات اللاصقة والمنتجات ذات الصلة بالصحة العامة والعناية الشخصية وبعض منتجات الأطفال (مثل العضاضات والفوط الصحية والمناديل الصحية ومنتجات تغذية الرضيع) والموسيقى والفيديو وألعاب الفيديو<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>المنتجات غير القابلة لللإرجاع لأسباب صحية، التي تم فتحها بعد التوصيل، أو إذا تم خلطها مع عناصر أخرى بعد التوصيل<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li><strong>كيفية الاتصال بنا )للإرجاع والإستبدال</strong><strong><span dir=\"LTR\"> (:</span></strong>&nbsp;يمكنك التواصل معنا عبر البريد الإلكتروني، أو عبر مواقع التواصل الإجتماعي الخاص بنا، أو المحادثة المباشرة على الموقع</li>\r\n\t\t<li><strong>كيفية إعادة المبالغ</strong>\r\n\t\t<ol>\r\n\t\t\t<li>وفقا للبند 2-4، بالنسبة للمنتجات التي تم تسليمها، سوف نقوم بإعادة قيمة المنتج الخاضع للإرجاع بالكامل بما في ذلك رسوم إرجاع المنتج إلينا (باستثناء الرسوم التي تم دفعها لشحن المنتج إليك) وينطبق هذا على الحالات التالية<span dir=\"LTR\">:</span>\r\n\t\t\t<ol>\r\n\t\t\t\t<li>المنتجات المعيبة أو التي يخالف وصفُها ما ورد على الموقع<span dir=\"LTR\">.</span></li>\r\n\t\t\t\t<li>إذا كان سبب الإرجاع عائداً لخطأ من جانبنا مثل الخطأ في التسعير أو الوصف أو التأخير في التسليم عن الميعاد المتفق عليه، وغير ذلك<span dir=\"LTR\">.</span></li>\r\n\t\t\t</ol>\r\n\t\t\t</li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t</ol>\r\n\t</li>\r\n</ol>\r\n\r\n<p>ولجميع الحالات الأخرى، سوف نقوم بإعادة قيمة المنتج الخاضع للإرجاع (باستثناء الرسوم التي تم دفعها لشحن المنتج إليك) على أن تتحمل أنت كلفة رسوم إرجاع المنتج إلينا<span dir=\"LTR\">.</span></p>\r\n\r\n<p>بالنسبة للمنتجات التي لم يتم تسليمها، يحق لك تسلُّم قيمتها كاملة إذا ألغيت أمر الشراء وفقا للبند 2-6</p>\r\n\r\n<ol>\r\n\t<li>\r\n\t<ol>\r\n\t\t<li><strong>إجراءات إعادة المبالغ</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;سيكون إعادة المبلغ مماثلاً لنفس طريقة سدادك إياه، وذلك على النحو التالي<span dir=\"LTR\">:</span>\r\n\r\n\t\t<ol>\r\n\t\t\t<li>إذا كنت قد سددت القيمة نقداً عند التسليم، فسوف نقوم بإعادة القيمة إلى محفظتك الإلكترونية<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t\t<li><strong>متى يتم إعادة المبلغ</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;يتم إعادة المبلغ لك في نفس وقت تسلمنا وفحص المنتج في مركز تهيئة بضائع العميل الخاص بنا، وسيكون تسلمك المبلغ النهائي على النحو التالي<span dir=\"LTR\">:</span>\r\n\t\t<ol>\r\n\t\t\t<li>إذا سيتم إعادة المبلغ إلى بطاقتك الائتمانية/الخصم: يتم ذلك خلال ثلاثين (7) يوماً من يوم تسلمنا المنتج الذي تم إرجاعه في مركز تهيئة بضائع العميل الخاص بنا<span dir=\"LTR\">.</span></li>\r\n\t\t\t<li>إذا ألغيت أمر الشراء قبل موعد الشحن سيتم إعادة المبلغ إليك آلياً<span dir=\"LTR\">.</span></li>\r\n\t\t</ol>\r\n\t\t</li>\r\n\t</ol>\r\n\t</li>\r\n\t<li><a href=\"https://help.noon.com/hc/ar/categories/360000723933-Promotions\" target=\"_blank\"><strong>للحصول على معلومات عن الرصيد المسترجع، قم بزيارة قسم الأسئلة الشائعة</strong></a></li>\r\n\t<li><strong>العيوب والأضرار في المنتجات</strong>\r\n\t<ol>\r\n\t\t<li><strong>الضمان</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;تقديم ضماناً مدته اثنا عشر (12) شهراً لبعض المنتجات المشتراة خاص بالأعطال التي قد تحدث بعد الشراء، وتقديم ضمان لمدة أربع وعشرون (24) شهراً لجميع المنتجات الإلكترونية (المحددة هنا) والتي تباع للمشترين في المملكة العربية السعودية. سيتم تطبيق ضمان لمدة ستة (6) أشهر (كحد أقصى) على المنتجات المجددة المختارة. لا ينطبق الضمان على أي حالات غير حالات عيوب الخامات والمواد أو التصميم أو التصنيع، ويكون الضمان محدود بإصلاح المنتج المعيب أو استبدال الجزء المعيب أو استبدال المنتج أو إعادة المبلغ حسب سعر الشراء\\المبلغ المدفوع، علماً بأن الضمان لا يغطي كافة المنتجات، وينبغي عليك مراجعة إدراج المنتجات لتعرف ما إذا كان المنتج يشمل ضمانا<span dir=\"LTR\">.</span></li>\r\n\t\t<li><strong>مراكز الخدمة المصرح لها</strong><strong><span dir=\"LTR\">:</span></strong>&nbsp;في الحالات التي نقوم ببيع المنتج مباشرة إليك ولمنتجات محددة، ستتم الإصلاحات وفقا للضمان من قبل مراكز الخدمة المصرح لها من قبلنا. وفي الحالات التي تم شراء المنتجات من قبل بائع آخر، ستطبق شروط ضمان هذا البائع. للمزيد من التفاصيل، يرجى الرجوع الى سياسة&nbsp;<a href=\"https://www.noon.com/ar-sa/warranty-policy\" target=\"_blank\"><strong>الضمان الخاصةسدو</strong><strong><span dir=\"LTR\">.</span></strong></a></li>\r\n\t</ol>\r\n\t</li>\r\n</ol>\r\n\r\n<table cellspacing=\"0\" style=\"border-collapse:collapse\">\r\n\t<thead>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><strong>فئة المنتج</strong></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><strong>أنواع المنتج</strong></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><strong>أقصى مدة للإصلاح</strong></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><strong>أقصى عدد لمرات الإصلاح قبل الإستبدال أو رد القيمة</strong></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><strong>إذا تعذر الإصلاح أو استُنفد عدد مَرَّاته</strong></p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t</thead>\r\n\t<tbody>\r\n\t\t<tr>\r\n\t\t\t<td rowspan=\"7\" style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>إلكترونيات</p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>هواتف متحركة</p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">14 </span>أيام من استلام المنتج في مركز الإصلاح الخاص بنا<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">3</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>الإستبدال إذا وجد أو رد القيمة</p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>كمبيوتر لوحي ولاب توب</p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">14 </span>أيام من استلام المنتج في مركز الإصلاح الخاص بنا<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">3</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>الإستبدال إذا وجد أو رد القيمة</p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>كاميرات</p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">14 </span>أيام من استلام المنتج في مركز الإصلاح الخاص بنا<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">3</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>الإستبدال إذا وجد أو رد القيمة</p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>صوتيات ومرئيات</p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">14 </span>أيام من استلام المنتج في مركز الإصلاح الخاص بنا<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">3</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>الإستبدال إذا وجد أو رد القيمة</p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>أجهزة</p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">14 </span>أيام من استلام المنتج في مركز الإصلاح الخاص بنا<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">3</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>الإستبدال إذا وجد أو رد القيمة</p>\r\n\t\t\t</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p>إكسسوارات إلكترونية</p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #dddddd; border-top:none; vertical-align:bottom\">\r\n\t\t\t<p><span dir=\"LTR\">14 </span>أيام من استلام المنتج في مركز الإصلاح الخاص بنا<span dir=\"LTR\">.</span></p>\r\n\t\t\t</td>\r\n\t\t\t<td style=\"border-bottom:none; border-left:none; border-right:1px solid #ddd
[...]
